<% using (Html.BeginForm()) {%>

    <fieldset>
        <legend>Fields</legend>
        <p>
            <label for="Name">Name:</label>
            <%= Html.TextBox("Name") %> Required
            <%= Html.ValidationMessage("Name", "*") %>
        </p>
        <p>
            <label for="Age">Age:</label>
            <%= Html.TextBox("Age") %> Required
            <%= Html.ValidationMessage("Age", "*") %>
        </p>
        <p>
            <label for="Street">Street:</label>
            <%= Html.TextBox("Street") %>
            <%= Html.ValidationMessage("Street", "*") %>
        </p>
        <p>
            <label for="City">City:</label>
            <%= Html.TextBox("City") %>
            <%= Html.ValidationMessage("City", "*") %>
        </p>
        <p>
            <label for="State">State:</label>
            <%= Html.TextBox("State") %>
            <%= Html.ValidationMessage("State", "*") %>
        </p>
        <p>
            <label for="Zipcode">Zipcode:</label>
            <%= Html.TextBox("Zipcode") %>
            <%= Html.ValidationMessage("Zipcode", "*") %>
        </p>
        <p>
            <label for="Phone">Phone:</label>
            <%= Html.TextBox("Phone") %> Required
            <%= Html.ValidationMessage("Phone", "*") %>
        </p>
        <p>
            <label for="Email">Email:</label>
            <%= Html.TextBox("Email") %> Required
            <%= Html.ValidationMessage("Email", "*") %>
        </p>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>

<% } %>



@*<table border="0" class="formtable">
    <tr>
        <td class="style1">First&nbsp;Name: </td>
        <td class="style2">
            <asp:textbox id="txtFirstName" runat="server" cssclass="regtextbox" maxlength="30"
                columns="30"></asp:textbox>
            <asp:requiredfieldvalidator id="rfvFirstName" runat="server" cssclass="textsmallerror"
                controltovalidate="txtFirstName">Required</asp:requiredfieldvalidator>
        </td>
    </tr>
    <tr>
        <td class="style1">Last&nbsp;Name: </td>
        <td class="style2">
            <asp:textbox id="txtLastName" runat="server" cssclass="regtextbox" maxlength="30"
                columns="30"></asp:textbox>
            <asp:requiredfieldvalidator id="rfvLastName" runat="server" cssclass="textsmallerror"
                controltovalidate="txtLastName">Required</asp:requiredfieldvalidator>
        </td>
    </tr>
    <tr>
        <td class="style1">Address: </td>
        <td class="style2">
            <asp:textbox id="txtAddress1" runat="server" cssclass="regtextbox" maxlength="30"
                columns="30"></asp:textbox>
            <asp:requiredfieldvalidator id="rfvAddress1" runat="server" cssclass="textsmallerror"
                controltovalidate="txtAddress1">Required</asp:requiredfieldvalidator>
        </td>
    </tr>
    <tr>
        <td class="style1">Address 2: </td>
        <td class="style2">
            <asp:textbox id="txtAddress2" runat="server" cssclass="regtextbox" maxlength="30"
                columns="30"></asp:textbox>
            <span class="textsmall">&nbsp;(Optional)</span></td>
    </tr>
    <tr>
        <td class="style1">City: </td>
        <td class="style2">
            <asp:textbox id="txtCity" runat="server" cssclass="regtextbox" maxlength="30" columns="20"></asp:textbox>
            <asp:requiredfieldvalidator id="rfvCity" runat="server" cssclass="textsmallerror"
                controltovalidate="txtCity">Required</asp:requiredfieldvalidator>
        </td>
    </tr>
    <tr>
        <td class="style1">State/Province: </td>
        <td class="style2">
            <asp:dropdownlist id="ddlState" runat="server" cssclass="regdropdown">
                            <option Value="0" Selected="True">--</option>
                            <option Value="AL">AL</option>
                            <option Value="AK">AK</option>
                            <option Value="AZ">AZ</option>
                            <option Value="AP">AP</option>
                            <option Value="AR">AR</option>
                            <option Value="CA">CA</option>
                            <option Value="CO">CO</option>
                            <option Value="CT">CT</option>
                            <option Value="DC">DC</option>
                            <option Value="DE">DE</option>
                            <option Value="FL">FL</option>
                            <option Value="GA">GA</option>
                            <option Value="HI">HI</option>
                            <option Value="ID">ID</option>
                            <option Value="IL">IL</option>
                            <option Value="IN">IN</option>
                            <option Value="IA">IA</option>
                            <option Value="KS">KS</option>
                            <option Value="KY">KY</option>
                            <option Value="LA">LA</option>
                            <option Value="ME">ME</option>
                            <option Value="MD">MD</option>
                            <option Value="MA">MA</option>
                            <option Value="MI">MI</option>
                            <option Value="MN">MN</option>
                            <option Value="MS">MS</option>
                            <option Value="MO">MO</option>
                            <option Value="MT">MT</option>
                            <option Value="NE">NE</option>
                            <option Value="NV">NV</option>
                            <option Value="NH">NH</option>
                            <option Value="NJ">NJ</option>
                            <option Value="NM">NM</option>
                            <option Value="NY">NY</option>
                            <option Value="NC">NC</option>
                            <option Value="ND">ND</option>
                            <option Value="OH">OH</option>
                            <option Value="OK">OK</option>
                            <option Value="OR">OR</option>
                            <option Value="PA">PA</option>
                            <option Value="RI">RI</option>
                            <option Value="SC">SC</option>
                            <option Value="SD">SD</option>
                            <option Value="TN">TN</option>
                            <option Value="TX">TX</option>
                            <option Value="UT">UT</option>
                            <option Value="VT">VT</option>
                            <option Value="VA">VA</option>
                            <option Value="WA">WA</option>
                            <option Value="WV">WV</option>
                            <option Value="WI">WI</option>
                            <option Value="WY">WY</option>
                            <option Value="00">--</option>
                            <option Value="AB">AB</option>
                            <option Value="BC">BC</option>
                            <option Value="MB">MB</option>
                            <option Value="NB">NB</option>
                            <option Value="NF">NF</option>
                            <option Value="NS">NS</option>
                            <option Value="NT">NT</option>
                            <option Value="ON">ON</option>
                            <option Value="QC">QC</option>
                            <option Value="SK">SK</option>
                        </asp:dropdownlist>
            <asp:requiredfieldvalidator id="rfvState" runat="server" cssclass="textsmallerror"
                controltovalidate="ddlState" initialvalue="0">Required</asp:requiredfieldvalidator>
        </td>
    </tr>
    <tr>
        <td class="style1">ZIP<sup>&reg;</sup>/Postal Code: </td>
        <td class="style2">
            <asp:textbox id="txtZip" runat="server" cssclass="regtextbox" maxlength="7" columns="9"></asp:textbox>
            <asp:requiredfieldvalidator id="rfvZip" runat="server" cssclass="textsmallerror"
                controltovalidate="txtZip" display="Dynamic">Required</asp:requiredfieldvalidator>
            <asp:regularexpressionvalidator id="revZip" runat="server" cssclass="textsmallerror"
                controltovalidate="txtZip" display="Dynamic" validationexpression="^(\d{5}|[a-zA-Z][0-9][a-zA-Z]( ){0,1}[0-9][a-zA-Z][0-9])$">Invalid</asp:regularexpressionvalidator>
        </td>
    </tr>
    <tr>
        <td class="style1">Phone: </td>
        <td class="style2">
            <asp:textbox id="txtPhone" runat="server" cssclass="regtextbox" maxlength="10" columns="20"></asp:textbox>
            <span class="textsmall">&nbsp;Numbers Only&nbsp;(Optional)</span></td>
    </tr>
    <tr>
        <td class="style1">E-mail: </td>
        <td class="style2">
            <asp:textbox id="txtEmail" runat="server" cssclass="regtextbox" maxlength="200" columns="30"></asp:textbox>
            <span class="textsmall">(Optional)</span></td>
    </tr>
    <tr>
        <td class="style1">&nbsp; </td>
        <td align="left">
            <asp:button id="btnSubmit" runat="server" text="Submit" cssclass="submitbutton" onclick="btnSubmit_Click">
                        </asp:button>
        </td>
    </tr>
</table>
*@