@{
    ViewBag.SubTitle = "Product Registration for Safety Alert or Recall Only"; 
            
}
<hgroup class="title">
    <h1 style="font-size: 1.75em; text-transform: uppercase;">@ViewBag.SubTitle</h1>
</hgroup>
<article>
    <section>
        <p style="font-size: 1em; padding-bottom: 0px;">
            We will use the information provided to contact you only if there is a safety alert
            or recall for this product. We will not sell, rent, or share your personal information.
            If you register on this Web site you do not need to fill out the card that came
            with your product.
        </p>
    </section>
    <hr />
