<p>
    Model Name:&nbsp;
    <select id="ddlModName" runat="server" cssclass="regdropdown">
        <option value="00">-----------</option>
        <option value="Callisto">Callisto</option>
        <option value="Topaz">Topaz</option>
        <option value="Onyx">Onyx</option>
        <option value="Ruby">Ruby</option>
        <option value="00">-----------</option>
        <option value="CarryCot">Callisto Carry Cot</option>
        <option value="00">-----------</option>
        <option value="2GO">2.GO Carrier</option>
    </select>
</p>
<p>
    Model Number:&nbsp;<input id="txtModNumber" type="text" />
</p>
<p>
    Manufacture Date:&nbsp;<input id="txtManDate" type="text" />
</p>