@{
    Layout = "~/Views/Shared/_LayoutReg.cshtml"; 
    ViewBag.SubTitle = "Register your Child Restraint"; 
            
}
<hgroup class="title">
    <h1 style="font-size: 2.5em; text-transform: uppercase;">@ViewBag.SubTitle</h1>
</hgroup>
<article class="">
    <section>
        <p style="font-size: 1.125em;">
            <strong>FOR YOUR CHILD’S CONTINUED SAFETY</strong></p>
            <p style="font-size:  1em; padding-bottom: 0px;">
                Although child restraint systems undergo thorough testing and evaluation, it is
                possible that a child restraint could be recalled. In case of a recall, we can reach
                you only if we have your name and address, so please fill in the registration form
                to be on our recall list. In order to properly register your child restraint system,
                you will need to provide the Model Number and Date of Manufacture. This information
                is printed on the registration card and can also be found on a white label located
                on the bottom of the child restraint system. This registration is only applicable
                to child restraint systems purchased in the United States.
            </p>
    </section>
    <hr />
    <section><p>
    Model Name:&nbsp;<select id="ddlModNameCarSeat" runat="server" cssclass="regdropdown" autopostback="true">
        <option value="00" selected="True">--------- Select ----------</option>
        <option value="Aton">Aton Infant Car Seat</option>
        <option value="SXFix">Solution X-fix</option>
        <option value="AtonBase">Aton Extra Base</option>
    </select>
</p>
<p>
    Model Number:&nbsp;<select id="ddlModNumCarSeat" runat="server" cssclass="regtextbox" maxlength="200"
        autopostback="true" columns="30">
        <option value="000000" selected="True">-------------------- Select --------------------</option>
        <option value="12-4000012">12-4000012 Aton Purple Potion</option>
        <option value="12-4000015">12-4000015 Aton Lipstick</option>
        <option value="12-4000016">12-4000016 Aton Eclipse</option>
        <option value="12-4000017">12-4000017 Aton Coffee</option>
        <option value="12-4000018">12-4000018 Aton Moonlight</option>
        <option value="12-4000019">12-4000019 Aton Shadow</option>
        <option value="12-4000020">12-4000020 Aton Pure Black</option>
        <option value="12-4001012">12-4001012 Aton Purple Potion Plus</option>
        <option value="12-4001015">12-4001015 Aton Lipstick Plus</option>
        <option value="12-4001016">12-4001016 Aton Eclipse Plus</option>
        <option value="12-4001018">12-4001018 Aton Moonlight Plus</option>
        <option value="12-4001019">12-4001019 Aton Shadow Plus</option>
        <option value="0000000000">---------------------------------------</option>
        <option value="12-8000005">12-8000005 Aton Extra Base</option>
        <option value="0000000000">---------------------------------------</option>
        <option value="050020015">050020015 Solution X-Fix Berry</option>
        <option value="050020018">050020018 Solution X-Fix Grenadine</option>
        <option value="050020019">050020019 Solution X-Fix Stone</option>
        <option value="050020020">050020020 Solution X-Fix Cinnamon</option>
        <option value="050020021">050020021 Solution X-Fix Navy</option>
        <option value="050020022">050020022 Solution X-Fix Raven</option>
        <option value="050076008">050076008 Solution X-Fix Berry Plus</option>
        <option value="050076010">050076010 Solution X-Fix Grenadine Plus</option>
        <option value="050076011">050076011 Solution X-Fix Stone Plus</option>
        <option value="050076012">050076012 Solution X-Fix Cinnamon Plus</option>
        <option value="050076013">050076013 Solution X-Fix Navy Plus</option>
    </select>
</p>
<p>
    Manufacture Date:&nbsp;<select id="ddlManDateCarSeat"
        runat="server" cssclass="regtextbox" maxlength="200" autopostback="true" columns="30">
        <option value="000000" selected="True">-- Select --</option>
        <option value="042011">04/2011</option>
        <option value="032011">03/2011</option>
        <option value="022011">02/2011</option>
        <option value="042010">04/2010</option>
        <option value="022010">02/2010</option>
    </select>
</p>
    </section>
    <section>
        @Html.Partial("_FormContact")
    </section>
</article>
