@{
    Layout = "~/Views/Shared/_LayoutReg.cshtml"; 
    ViewBag.SubTitle = "Product Registration for Safety Alert or Recall Only"; 
            
}
@Html.Partial("_RegHeader")
<section>
    @Html.Partial("_RegFormCybex")
    @Html.Partial("_FormContact")
</section>
</article> 