@{   ViewBag.SubTitle = "Thank You";
}
<hgroup class="title">
    <h1>@ViewBag.SubTitle</h1>
</hgroup>
<article>
    <section>
        <div id="regSuccess">
            <p>
                We have sucessfully received your product registration. We want to "Thank you" for
                registrating your product. You will be contacted in the unlikely event that the
                product you registered is ever recalled.
            </p>
            <p>
                You will also recieve a confirmation e-mail
            about your registration. If you do not recieve this e-mail, or have further questions
                about your registration, please call our
            Customer Care Department at 1-800-58-93-5522.
            </p>
        </div>
    </section>
</article>
