@{
    ViewBag.SubTitle = "Miosolo from Bambino Mio";
            
}
<hgroup class="title">
    <h1>@ViewBag.Subtitle</h1>
</hgroup>
<article>
    Spotlight page on how great miosolo is.
</article>
<aside></aside>