@{ViewBag.SubTitle = "Product Recall Information";
  ViewBag.Message = "Lascal® BuggyBoard™ — September 2003";
}
<hgroup class="title">
    <h1>@ViewBag.SubTitle</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>
<article class="fullwidth">
    <p>
        <strong>Regal Lager Hotline: (877) 242-5676</strong>
        <br>
        CPSC Recall Hotline: (800) 638-2772<br>
        CPSC Media Contact: Nychelle Fleming, (301) 504-7063
    </p>
    <p>
        <strong>CPSC, Regal Lager Inc. Announce Recall to Repair Stroller Attachments </strong>
    </p>
    <p>
        <strong>WASHINGTON, D.C.</strong>– The U.S. Consumer Product Safety Commission,
        in cooperation with the manufacturer named below, today announced voluntary recalls
        of the following consumer product. Consumers should stop using recalled products
        immediately unless otherwise instructed. (To access color photos of the following
        recalled products, see CPSC’s Web site at <a href="http://www.cpsc.gov" target="_blank">
            www.cpsc.gov</a>.)
    </p>
    <p>
        <strong>Name of product</strong>: Lascal “Buggy Board” stroller attachment
    </p>
    <p>
        <strong>Units</strong>: About 11,500
    </p>
    <p><strong>Distributor</strong>: Regal Lager Inc., of Kennesaw, Ga.</p>
    <p>
        <strong>Hazard</strong>: The Buggy Board’s red connecting pins can break, causing
        the board to partially detach from the stroller or carriage, posing a fall hazard
        to the user.
    </p>
    <p>
        <strong>Incidents/Injuries</strong>: Regal Lager Inc. has received two reports of
        the Buggy Board disengaging from a stroller or carriage, resulting in falls to children.
        One minor injury was reported.
    </p>
    <p>
        <strong>Description</strong>: The Lascal “Buggy Board” is a wheeled board that attaches
        to a stroller or baby carriage, allowing an older child to stand on the board and
        ride behind the stroller between the arms of a parent or caregiver. The product
        comes in black, blue, red and techno styles, and has the words “Buggy Board” printed
        on the top center of the board, with the name “Lascal” molded into the plastic on
        the bottom center of the board. Buggy Boards with orange connecting pins are not
        included in the recall.
    </p>
    <p>
        <strong>Sold at</strong>: Specialty retail stores, catalogs and internet sites from
        January 2003 through July 2004 for about $88.
    </p>
    <p><strong>Manufactured in</strong>: Sweden</p>
    <p>
        <strong>Remedy</strong>: The manufacturer is providing free repair kits to consumers
        consisting of orange replacement pins for these Buggy Boards.
    </p>
    <p>
        <strong>Consumer Contact</strong>: Call Regal Lager Inc. at (877) 242-5676 between
        9 a.m. and 5 p.m. ET Monday through Friday or log on to the company’s Web site at
        <a href="http://www.regallager.com" target="_self">www.regallager.com</a>
    </p>
    <p>
        <strong>Media Contac</strong>t: Luanne Whiting-Lager at (678) 819-5805 or<a href="mailto:luanne@regallager.com?subject=Lascal%20BuggyBoard%20Recall">
            luanne@regallager.com</a>.
    </p>
    <ul class="default">
        <li><a href="http://www.cpsc.gov/CPSCPUB/PREREL/prhtml04/04206.html" target="_blank">
            Official CPSC Recall Listing</a></li>
        <li><a href="../../Downloads/ReleaseButtonRecall_Image.pdf">Lascal BuggyBoard Recalled
            Release Button Image</a></li>
    </ul>
    <p>&nbsp;</p>
</article>
