@{ViewBag.SubTitle = "Product Recall Information";
  ViewBag.Message = "CYBEX® Ruby, Onyx and Topaz Stroller January 2010";
}
<hgroup class="title">
    <h1>@ViewBag.SubTitle</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>
<article>
    <p>
        <strong>Regal Lager Hotline: (866) 678-8940</strong>
        <br>
        CPSC Recall Hotline: (800) 638-2772br> CPSC Media Contact: (301) 504-7063<br>
        HC Media Contact: (613) 957-2983
    </p>
    <p>
        <strong>Regal Lager Announces Recall to Repair Cybex Strollers; Due to Risk of Fingertip
            Amputation and Laceration Hazards</strong>
    </p>
    <p>
        <strong>WASHINGTON, D.C.</strong>– The U.S. Consumer Product Safety Commission (CPSC),
        in cooperation with the firm named below, today announced a voluntary recall of
        the following products. Consumers should stop using recalled products immediately
        unless otherwise instructed.
    </p>
    <p>
        <strong>Name of product</strong>: Cybex Strollers
    </p>
    <p>
        <strong>Units</strong>: About 1,100
    </p>
    <p>
        <strong>Distributor</strong>: Regal Lager Inc., of Kennesaw, Ga.
    </p>
    <p>
        <strong>Hazard</strong>: The stroller’s hinge mechanism poses a fingertip amputation
        and laceration hazard to the child when the consumer is unfolding/opening the stroller.
    </p>
    <p>
        <strong>Incidents/Injuries</strong>: The firm has received one report of a child
        placing his finger in the stroller’s hinge mechanism, resulting in a finger fracture.
    </p>
    <p>
        <strong>Description</strong>: This recall involves Ruby, Onyx and Topaz models of
        umbrella strollers. “CYBEX” is printed on the side of the strollers.
    </p>
    <p>
        <strong>Sold at</strong>: Department and juvenile product stores nationwide between
        August 2009 and November 2009 for between $140 and $260.
    </p>
    <p>
        <strong>Manufactured in</strong>: China
    </p>
    <p>
        <strong>Remedy</strong>: Consumers should immediately stop using the recalled strollers
        and contact Regal Lager to receive a free hinge cover retrofit kit.
    </p>
    <p>
        <strong>Consumer Contact</strong>: Call Regal Lager Inc. at (800) 593-5522 between
        9 a.m. and 5 p.m. ET Monday through Friday. Consumers can also email the firm at
        info@regallager.com.
    </p>
    <p>
        Note: Health Canada’s press release is available at:<a href="http://cpsr-rspc.hc-sc.gc.ca/PR-RP/recall-retrait-eng.jsp?re_id=953"
            target="_blank">www.hc-sc.gc.ca </a>
    </p>
    <ul class="default">
        <li><a href="http://www.cpsc.gov/CPSCPUB/PREREL/prhtml10/10123.html" target="_blank">
            Official CPSC Recall Listing</a></li>
        <li><a href="../../Downloads/Cybex-StrollerRecall-ConsumerLetter%201-10.pdf">CYBEX Stroller Recall Consumer Letter</a></li>
    </ul>
    <img src="../../Images/GEMStrollers.jpg" class="rounded" />
</article>
