@{ViewBag.SubTitle = "Product Recall Information";
  ViewBag.Message = "CYBEX® 2.GO Carrier June 2010";
}
<hgroup class="title">
    <h1>@ViewBag.SubTitle</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>
<article class="fullwidth">
    <p>
        <strong>Regal Lager Recall Hotline: (866) 678-8940</strong>
        <br>
        CPSC Recall Hotline: (800) 638-2772<br>
        CPSC Media Contact: (301) 504-7063<br>
        HC Media Contact: (613) 957-2983
    </p>
    <p>
        <strong>Regal Lager, Inc. is conducting a voluntary recall of the CYBEX 2.GO Carrier.
            The shoulder strap slider buckles on the CYBEX 2.GO may break, creating a fall hazard.
        </strong>
    </p>
    <p>
        <strong>WASHINGTON, D.C.</strong>– The U.S. Consumer Product Safety Commission (CPSC),
        in cooperation with the firm named below, today announced a voluntary recall of
        the following products. Consumers should stop using recalled products immediately
        unless otherwise instructed.
    </p>
    <p>
        <strong>Name of product</strong>: CYBEX 2.GO Carrier
    </p>
    <p>
        <strong>Units</strong>: About 1,035 in the US and 320 in Canada
    </p>
    <p>
        <strong>Distributor</strong>: Regal Lager Inc., of Kennesaw, Ga.
    </p>
    <p>
        <strong>Hazard</strong>:The shoulder strap slider buckles on the CYBEX 2.GO may
        break, creating a fall hazard.
    </p>
    <p>
        <strong>Incidents/Injuries</strong>: The firm has received two written reports from
        consumers where the shoulder strap buckle has broken.
    </p>
    <p>
        <strong>Description</strong>: This recall involves the CYBEX 2.GO Carrier produced
        in July of 2009.
    </p>
    <p>
        <strong>Sold at</strong>: Department and juvenile product stores nationwide between
        August 2009 and April 2010 for $99.
    </p>
    <p>
        <strong>Manufactured in</strong>: China
    </p>
    <p>
        <strong>Remedy</strong>: Consumers should immediately stop using the recalled carriers
        and contact Regal Lager. Consumers will be asked to cut up the existing carriers
        and return the slider buckles in a prepaid envelope provided by Regal Lager. Upon
        receipt of the buckles Regal Lager will ship a replacement version of the 2.GO Carrier.
    </p>
    <p>
        <strong>Consumer Contact</strong>: Call Regal Lager Inc. at (866) 678-8940. Consumers
        can also email the firm at info@regallager.com.
    </p>
    <p>
        Note: Health Canada’s press release is available at:<a href="http://cpsr-rspc.hc-sc.gc.ca/PR-RP/recall-retrait-eng.jsp?re_id=1080"
            target="_blank">www.hc-sc.gc.ca </a>
    </p>
    <ul class="default">
        <li><a href="../../Downloads/2.GO-2009-Consumer-Letter.pdf" target="_blank">CYBEX 2.GO
            Recall Consumer Letter</a></li>
        <li><a href="http://www.cpsc.gov/CPSCPUB/PREREL/prhtml10/10267.html">Official CPSC Recall Listing</a></li>
    </ul>
    <img src="../../Images/CYBEX-2009-Colors.jpg" class="rounded" />
</article>
