@{ViewBag.SubTitle = "Product Recall Information";
  ViewBag.Message = "CYBEX® Solution X-Fix Booster Seat — July 2010";
}
<hgroup class="title">
    <h1>@ViewBag.SubTitle</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>
<article>
    <p>
        Certain CYBEX Solution X-fix model booster seats manufactured during February 2010,
        were produced using an incorrect warning label. The defect consists of an incorrect
        warning statement related to securing an unoccupied booster seat.
    </p>
    <p>
        The performance of the Solution X-fix booster seat is not affected when used with
        a child securely restrained in the seat. CYBEX recommends that to fully insure that
        your booster seat is properly restrained in a crash, when unoccupied, that it be
        belted in with the vehicle seat belt, even if you are using the LATCH connectors.
    </p>
    <h3>Affected Product Model Numbers:</h3>
    <p>
        0500200<br />0500760
    </p>
    <p>
        The Model Number and Manufacture Date is printed on a white label located on the
        bottom of the Booster Base.
    </p>
    <h3>Corrective Action:</h3>
    <p>
        Regal Lager will notify caregivers and provide a new label to be affixed over the
        old label and owners will also receive a new Owner's Manual free of charge.
    </p>
    <p>
        Owners may contact Regal Lager toll-free at 1-800-593-5522, Monday through Friday,
        between the hours of 8:30 am and 5:30 pm EST for more information. Owners may also
        contact the National Highway Traffic Safety Administration's vehicle safety hotline
        at 1-888-327-4236 (TTY 1-800-424-9153), or go to <a href="http://www.safercar.gov"
            target="_blank">http://www.safercar.gov.</a>
    </p>
    <p>NHTSA Recall Campaign Number: 010-01</p>
    <ul class="default">
        <li><a href="http://www-odi.nhtsa.dot.gov/recalls/recallsearch.cfm" target="_blank">
            Official NTHSA Recall Listing</a></li>
        <li><a href="../../Downloads/SXFRecall-ConsumerLetter-Instructions.pdf">CYBEX Solution
            X-Fix Recall Consumer Letter </a></li>
    </ul>
    <p>&nbsp;</p>
</article>
<aside>
    <img src="../../Images/solutionxfix.jpg" class="rounded" />
</aside>
