@{   ViewBag.SubTitle = "Thank You";
}
<hgroup class="title">
    <h1>@ViewBag.SubTitle</h1>
</hgroup>
<article>
    <section>
        <div id="emailSuccess">
            We have sucessfully recieved your email and will respond to you within one business
            day. Thank you for contacting us. If you have not heard from us, please call our
            Customer Care Department at 1-800-58-93-5522.
        </div>
    </section>
</article>
