/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
h5.internallogo a {
    display: block; 
    background: url("../../Images/regallager.png") no-repeat top left;
    margin:  0px 0px 0px 0px;
    text-indent: -1500px;
    width: 325px;
    height:  70px;
    cursor: pointer;
    
}

ul#internalmenu {
    font-size: .875em;
    font-weight: normal;
    margin: 0;
    text-align: right;
    padding-top: 10px;
    padding-bottom: -10px;
    background-color: transparent;
}

ul#internalmenu li {
    display: inline;
    list-style: none;
    padding-left: 6px;
}

ul#internalmenu li a {
    background: none;
    color: #303233;
    text-decoration: none;
}

ul#internalmenu li a:hover {
    color: #666;
    text-decoration: none;
    padding-bottom: 5px;
    border-bottom: 1px dotted #CCC;
}
ul#internalmenu li:before {
    content: " | ";
    color: #303233;
    padding-right: 6px;
    font-style: normal;
}
ul#internalmenu li:first-child:before {
    content: "";
}

.menupanel {
    margin-top: 0px;
    margin-bottom: 20px;
    background-color:  #bdbdbd; 
    border: 1px solid #CCC;
    width: 500px;
    padding: 8px 10px 10px 10px;
    position: absolute;
    margin-left: 435px;
    color: #333;
    opacity:0.4;
    font-size: .85em;    
    -moz-box-shadow: inset 0px 0px 1px #edf9ff;
    -webkit-box-shadow: inset 0px 0px 1px #edf9ff;
    box-shadow: inset 0px 0px 1px #edf9ff;
}

/* TOP MENU */
#anon  {
    margin-top: 5px; 
    margin-left: 20px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    color: #666666;
    font-size: .75em;
    list-style: none;
    text-align: right;
    width: 540px;
    }
#anon li {
     display: inline;
	padding-left: 5px;
} 
#anon li:before {
    content: " | ";
    color: #666666;
    padding-right: 10px;
}
#anon li:first-child:before {
    content: "";
}
.anon li:hover {  
    }  
#anon li a {
    color: #666666; 
    text-decoration: none;
    font-weight: normal;
}
#anon li a:hover {
    color: #666666; 
    text-decoration: underline;
    font-weight: normal;
}
.topmenu  {
    margin-top: 5px; 
    margin-left: -10px;
    margin-bottom: 0px;
    margin-right: 200px;
    padding-bottom: 0px;
    color: #666666;
    font-size: .75em;
    list-style: none;
    text-align: right;
    }
.topmenu li {
     display: inline;
	padding-left: 5px;
} 
.topmenu li:before {
    content: " | ";
    color: #666666;
    padding-right: 10px;
}
.topmenu li:first-child:before {
    content: "";
}
.topmenu li:hover {  
    }  
.topmenu li a {
    color: #666666; 
    text-decoration: none;
    font-weight: normal;
}
.topmenu li a:hover {
    color: #666666; 
    text-decoration: underline;
    font-weight: normal;
}
/* ADMIN PANEL */
#adminpanel { 
margin: -25px 0px  0px 790px; 
 padding: 0px 0px 0px 10px;
 height:33px;  
 width: 160px;
 position: absolute;
 background-color:  #F08E3C;
 list-style:none;  
 z-index: 100;
 border:1px solid #777777;  
 border-top:none;  
 -moz-border-radius: 0px 0px 5px 5px;  
  -webkit-border-radius: 0px 0px 5px 5px;  
  border-radius: 0px 0px 5px 5px; 
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 2px 2px rgba(0, 0, 0, .2);
	box-shadow: 0 2px 2px rgba(0, 0, 0, .2);
}  
  
#adminpanel li {  
text-align:left;  
border:none; 
padding-top: 6px;
float: left;
display: block;
}  
  
#adminpanel li:hover {  
   /* border: 1px solid #777777;  
    padding: 4px 9px 4px 9px;  
  
    /* Background color and gradients */  
  
    /*background: #F4F4F4;  
    background: -moz-linear-gradient(top, #F4F4F4, #EEEEEE);  
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F4F4F4), to(#EEEEEE));  */
  
    /* Rounded corners */  
  
    /*-moz-border-radius: 5px 5px 0px 0px;  
    -webkit-border-radius: 5px 5px 0px 0px;  
    border-radius: 5px 5px 0px 0px;  */
}  
  
#adminpanel li a {  
color:#FFFFFF;  
font-size: .75em;  
display:block;  
 text-decoration:none;  
}  
#adminpanel li:hover a {  
    text-decoration: none;
}  
#adminpanel li .drop {  
   padding-right: 20px;  
   background:url("../images/drop.png") no-repeat  right 8px;  
}  
#adminpanel li:hover .drop {  
     padding-right:20px; 
     background:url("../images/drop.png") no-repeat right  8px;  
}  
  
/* Drop Down */  
 
.dropdown_1column {  
    margin: 0 auto;
    float:left;  
    position:absolute;  
    left:-999em; /* Hides the drop down */  
    text-align:left;  
    padding: 10px 5px 5px 10px;  
    border:1px solid #777777;  
    border-top:none;  
   background:#F08E3C;  
   z-index: 90;
   -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 2px 2px rgba(0, 0, 0, .2);
	box-shadow: 0 2px 2px rgba(0, 0, 0, .2);
  
    /* Rounded Corners   */
    -moz-border-radius: 0px 0px 5px 5px;  
    -webkit-border-radius: 0px 0px 5px 5px;  
    border-radius: 0px 0px 5px 5px; 
}  
  
.dropdown_1column {width: 155px;}  

#adminpanel li:hover .dropdown_1column {  
    left:-1px;  
    top:auto;  
} 

/* Drop Down Content Stylings */  
 
 #admin p {
     font-size: inherit;
     line-height: .8em;
 }
#admin p a {  
   color: #FFFFFF;
    font-weight: normal;
	text-decoration: none;
}  
#admin p a:hover {  
    color: #257e5c;
    text-decoration: underline;
} 
/* END ADMIN PANEL */

/* NAV MENU */
#nav {
	margin: 10px 0px 10px 0px;
	padding: 3px 0px 2px 0px;
	border-radius: 2em;
	font-size: 1.2em;
	height: 24px;
	background-color: #269168;
	z-index: 10;

	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	
	-webkit-box-shadow: 0 1px 3px rgba(3, 3, 3, .4);
	-moz-box-shadow: 0 1px 3px rgba(3, 3, 3, .4);

	/* background: #269168; for non-css3 browsers */
	/*filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#269168', endColorstr='#269168'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#269168), to(#269168)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #269168,  #269168); /* for firefox 3.6+ */

	border: solid 1px #0e422e;
}
#nav li {
	margin: 0px 0px;
	padding: 0px 12px 0px 12px;
	float: left;
	position: relative;
	list-style: none;
	text-align: center;
}
/* main level link */
#nav a {
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
	display: block;
	padding:  1px 20px;
	margin: 0;
	
	-webkit-border-radius: 1.6em;
	-moz-border-radius: 1.6em;
	/*text-shadow: 0 1px 1px rgba(0, 0, 0, .3);*/
}
#nav a:visited {
	color: #FFFFFF;
}
/* main level link hover */
#nav .current a, #nav li:hover > a {
    background-color: transparent;
    color: #FFF;
	background: #257e5c; /* for non-css3 browsers */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#257e5c', endColorstr='#257e5c'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#257e5c), to(#257e5c)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #257e5c,  #257e5c); /* for firefox 3.6+ */
	
	/*border-top: solid 1px #f8f8f8;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .2);*/
	/*text-shadow: 0 1px 0 rgba(255, 255, 255, .8);*/
}
/* sub levels link hover */
#nav ul li:hover a, #nav li:hover li a {
	background: none;
	border: none;
	color: #FFF;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}
#nav ul a:hover {
	background: #257e5c !important; /* for non-css3 browsers */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#257e5c', endColorstr='#257e5c'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#257e5c), to(#257e5c)) !important; /* for webkit browsers */
	background: -moz-linear-gradient(top,  #257e5c,  #257e5c) !important; /* for firefox 3.6+ */
    color: #red; !important;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	/*text-shadow: 0 1px 1px rgba(0, 0, 0, .1);*/
}

/* level 2 list */
#nav ul {
	background: #257e5c; /* for non-css3 browsers */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#269168', endColorstr='#269168'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#269168), to(#269168)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #269168,  #269168); /* for firefox 3.6+ */

	display: none;
	margin: 0;
	padding: 0;
	line-height: 1.75em;
	width: 155px;
	position: absolute;
	top: 22px;
	left: 15px;
	border: solid 1px #0e422e;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
	box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
}
/* dropdown */
#nav li:hover > ul {
	display: block;
}
#nav ul li {
	float: none;
	margin: 0;
	padding: 0;
}
#nav ul a {
	font-weight: normal;
	/*text-shadow: 0 1px 1px rgba(255, 255, 255, .9);*/
}
/* level 3+ list */
#nav ul ul {
	left: 181px;
	top: -3px;
}
/* rounded corners for first and last child */
#nav ul li:first-child > a {
	-webkit-border-top-left-radius: 9px;
	-moz-border-radius-topleft: 9px;
	-webkit-border-top-right-radius: 9px;
	-moz-border-radius-topright: 9px;
}
#nav ul li:last-child > a {
	-webkit-border-bottom-left-radius: 9px;
	-moz-border-radius-bottomleft: 9px;
	-webkit-border-bottom-right-radius: 9px;
	-moz-border-radius-bottomright: 9px;
}
/* clearfix */
#nav:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
#nav {
	display: inline-block;
}
html[xmlns] #nav {
	display: block;
}
* html #nav {
	height: 1%;
}

/* END DROP DOWN */

.btnblue:hover {
    background-color: #0e422e;
    font-size: .875em;
    font-weight: inherit;
    padding: 6px 10px;
    text-decoration: none;
    color: #FFFFFF;
     cursor: pointer;
    border: solid 1px #0e422e;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

