/* import style sheets and hide from IE/Mac \*/
/*@import url("960_12_col.css");*/
body {
    background-image: url("../Images/header-bg.jpg");
    background-repeat:repeat-x;
    background-position:0 -40px;
    font-family: 	"prenton-n3", "prenton", sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
}
a {
    color:rgb(2, 159, 235);
}
a:link {
    color:rgb(2, 159, 235);
    padding-left: 0px;
    padding-right: 0px;
    text-decoration: none;
    display: inline;
}
a:hover {
    color:rgb(2, 85, 235);
}
a:active {
    color:rgb(255, 255, 255);
}

/*a:visited {
    color: rgb(251, 188, 0);
}

a:visited:hover {
    color:rgb(255, 255, 255);
}*/

header, footer, hgroup,
nav, section {
    display: block;
    width: 100%;
}
h1, h2 {
    font-family: "prenton", /*"ff-tisa-web-pro",*/ serif;
    font-style: normal;
    font-weight:700;
    line-height: 1;
}
 h3, h4 {
    font-family: "prenton", sans-serif;
    font-style: normal;
    margin: 10px 0px;
    color: rgb(255, 255, 255);
    line-height: 1;
}
h1 { /*Main Page Header*/
    font-size: 2.125em;
    font-style: normal;
    font-weight:700;
    letter-spacing: .01em;
    margin: 10px 0px 15px 0px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px #000;
}
h2 { /*Sub Header*/
    font-size: 1.5em;
    color: rgb(255, 255, 255);
    /*color: rgb(251, 188, 0);*/
    font-weight: 500;
    letter-spacing: .01em;
    margin: 5px 0px 10px 0px;
    text-shadow: 1px 1px 1px #000;
}
h2.brands { /*Sub Header*/
    font-size: 1.5em;
    color: #036529;
    /*color: rgb(251, 188, 0);*/
    font-weight: 600;
    letter-spacing: .01em;
    margin: 5px 0px 15px 0px;
    text-shadow: none;
}
h3 { /*Paragraph Heading */
    font-size: 1.125em;
    font-weight: 600;
}
h3.brands { /*Paragraph Heading */
    color: rgb(44, 46, 51);
    font-size: 1.125em;
    font-weight: 600;
}
h4 { /*Use for Paragraph Sub-Headings*/
    font-size: 1em;
    font-style: normal;
    font-weight: 500;
}
h4.brands { /*Use for Paragraph Sub-Headings*/
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
    color: rgb(44, 46, 51);
    margin-top:0;
}
h5 {
    font-family: "prenton-i3", "prenton", sans-serif;
    font-size: 1.45em;
    color: rgb(251, 188, 0);
    font-weight: 300;
    font-style: italic;
    line-height: initial;
    margin: 0px 0px 15px 0px;
    letter-spacing: .01em;
}
p {
    font-size: 1em;
    line-height: 1.5em;
    padding-bottom: 15px;
    font-weight: 300;
    letter-spacing: .01em;
}
hr {
    border: none 0;
    border-bottom: 1px dotted #666;
    clear: both;
    margin: 20px 0px;
}
hr.brand {
    border: none 0;
    border-bottom: 1px solid #CCC;
    clear: both;
    margin: 20px 0px;
}
em {
    font-style: italic;
}
blockquote {
    margin-left: 20px;
}
strong {
    font-weight:500;
    font-style: normal;
}
.worktitle {
    font-family: "prenton", sans-serif;
    color: rgb(255, 255, 255);
    display: block;
    font-size: 95%;
    font-style: italic;
    font-weight: 500;
    margin: 10px 0px 5px 0px;
}
.yellow {
     color: rgb(251, 188, 0);
}
.white {
     color: rgb(255, 255, 255);
}
.secret {
    color: #FBBC00;
    font-size: .9em;
}

.es, .se {
    padding-left: 30px;
    height: 17px;
    vertical-align: middle;
    line-height: 1em;
}
.es {
    background: url("../Images/spanish.gif") top left no-repeat;
}
.se {
    background: url("../Images/svenska.gif") top left  no-repeat;
}
.marginbottom {
    margin-bottom: 20px;
}
.margintop {
    margin-top: 20px;
}
.italic {
    font-style: italic;
}
.clearfix:before,.clearfix:after,.row:before,.row:after{
	content:'';
	display:block;
	overflow:hidden;
	visibility:hidden;
	width:0;
	height:0
}
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.wf-loading h1, h2 {
  /*styles to use after Typekit is loaded */
   font-family: "prenton", serif;
   visibility: hidden;
}
.wf-active  h1, h2 {
   /*styles to use after Typekit is loaded */
   font-family: "prenton", serif;
   visibility: visible;
}
a[href $='.pdf'] {
    text-decoration: none;
    padding-right: 18px; 
    background: url(../Images/pdfsm.gif) no-repeat bottom right; 
}
a[href $='.video'] {
    text-decoration: none;
    padding-right: 18px; 
    background: url(../Images/link.gif) no-repeat bottom right; 
}
/* main layout
----------------------------------------------------------*/

.content-wrapper {
    margin: 0 auto;
    width: 960px;
    background-color: transparent;
}
#abovefold {
    min-height: 100px;
    z-index: 1;
}
#belowfold {
    opacity: .95;
    margin-top: 40px;
    border-top: 1px solid #CCC;
    
    background-color: #3E4147;
    background: -moz-linear-gradient(top, #3E4147, #1d1e1f);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3E4147), to(#1d1e1f));
    
    -moz-box-shadow: inset 0px 1px 5px #000;
    -webkit-box-shadow: inset 0px 1px 5px #000;
    box-shadow: inset 0px 1px 5px #000;
    z-index: 1;
}
#belowfoldbrand {
    margin-top: 40px;
    border-top: 1px solid #CCC;
    padding-bottom: 20px;
    
    background-color:rgb(3, 102, 41) ;
    background: -moz-linear-gradient(top, #2F9255, #036629);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2F9255), to(#036629));
    
    -moz-box-shadow: inset 0px 1px 5px #000;
    -webkit-box-shadow: inset 0px 1px 5px #000;
    box-shadow: inset 0px 1px 5px #000;
    z-index: 1;
}
.brandrow {
    margin: 20px 0;
    border-bottom: 1px dotted #808080;
    padding: 30px 0;
    display:block;
    overflow: hidden;
    min-height:260px;
}
#movie {
    min-height: 500px;
    min-width: 960px;
    margin-top: 30px;
    vertical-align: bottom;
    z-index: 1;
}
#content {
    margin-top: 20px;
    color: rgb(200, 200, 200);
    overflow: hidden;
    min-height: 500px;
}
#contentbrands {
    margin-top: 20px;
    padding: 10px;
    background-color: #fff;
    color: rgb(44, 46, 51);
    overflow: hidden;
    min-height: 500px;
    border-radius: 10px;
    border: 1px solid #1b1b1b;
    
    -moz-box-shadow: 1px 1px 3px #0e0d0d;
	-webkit-box-shadow:1px 1px 3px #0e0d0d;
	box-shadow:1px 1px 3px #0e0d0d;
}
#logo {
    float: left;
    width: 380px;
    clear: both;
}
h5.logo a {
    display: block;
    background: url("../Images/regallager.png") no-repeat top left;
    margin: -20px 0px 0px -10px;
    text-indent: -1500px;
    width: 325px;
    height: 70px;
    cursor: pointer;
    margin-top: 5px;
}

.storebar {
    margin-top: -50px;
    margin-bottom: 20px;
    background-color:  #bdbdbd; 
    border: 1px solid #CCC;
    padding: 10px;
    position: absolute;
    margin-left: 712px;
    color: #333;
    opacity:0.4;
    
    -moz-box-shadow: inset 0px 0px 1px #edf9ff;
    -webkit-box-shadow: inset 0px 0px 1px #edf9ff;
    box-shadow: inset 0px 0px 1px #edf9ff;
    
    transition: margin-top 1s;
    -moz-transition: margin-top 2s; /* Firefox 4 */
    -webkit-transition: margin-top 2s; /* Safari and Chrome */
    -o-transition: margin-top 2s; /* Opera */
}
.storebar:hover {
    margin-top: 0px;
    opacity:1.0;
    filter:alpha(opacity=100);
    background-color: #FBBC00;
}

.imgwrapper {
    position: relative;
    width: 260px;
}
.imgcontainer {
    /*background-color:rgb(2, 159, 235);*/
    background: transparent;
    width: 260px;
    text-align: center;
    padding: 1px;
    max-height: 185px;
    vertical-align: middle;
    margin-bottom: 20px;
}

footer {
    clear: both;
    background-color:rgb(15, 100, 150);
    font-size: .8em;
    color: #999;
    padding-top: 15px;
    border-top: 1px solid #000;
    min-height: 500px;
    position: relative;
}
/*Shadows*/

.drop-shadow { /* Regular Drop Shadow */
    -webkit-box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, .3);
    box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, .3);
    
    -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
    
.lifted { /* Page Curled Drop Shadow */
	position: relative;
	margin: 0;
	padding: 0;
    z-index: 0;
	
	-webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 1);
	-moz-box-shadow: 0 0px 0px rgba(0, 0, 0, 1);
	box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
}
.lifted:before, .lifted:after {
	content: '';
	z-index: -3;
	position: absolute;
	left: 26px;
    top: 0px;
	width:60%;
	max-width: 140px; /* avoid rotation causing ugly appearance at large container widths */
	max-height: 180px;
	height: 100%;
    
	-webkit-box-shadow: 0 8px 10px rgba(0, 0, 0, 1);
	-moz-box-shadow: 0 8px 10px rgba(0, 0, 0, 1);
	box-shadow: 0 8px 10px rgba(0, 0, 0, 1);
	
    -webkit-transform: skew(-15deg) rotate(-6deg);
	-moz-transform: skew(-15deg) rotate(-6deg);
	-ms-transform: skew(-15deg) rotate(-6deg);
	-o-transform: skew(-15deg) rotate(-6deg);
	transform: skew(-15deg) rotate(-6deg);
}
.lifted:after {
	left: auto;
	right: 26px;
	-webkit-transform: skew(15deg) rotate(6deg);
	-moz-transform: skew(15deg) rotate(6deg);
	-ms-transform: skew(15deg) rotate(6deg);
	-o-transform: skew(15deg) rotate(6deg);
	transform: skew(15deg) rotate(6deg);
}

/* END SHADOWS -------------------------------------------*/


/* TOP MENU 
----------------------------------------------------------*/
ul#topmenu {
    font-size: .9em;
    font-weight: normal;
    margin: 0;
    text-align: right;
    padding-top: 60px;
    background-color: transparent;
}

ul#topmenu li {
    display: inline;
    list-style: none;
    padding-left: 6px;
}

ul#topmenu li a {
    background: none;
    color: rgb(65, 67, 72);
    text-decoration: none;
}
/*.active:before {
    content:" ";
    display:block;
    border-color: #999 transparent;
    border-style: solid;
    border-width: 7px 7px 0px;
    left: 50%;
    margin: 0 0 0 -45px;
    position: absolute;
    top: 55px;
    width: 0;
}*/
ul#topmenu li a:hover {
    color:rgb(2, 159, 235);
    text-decoration: none;
    padding-bottom: 3px;
    /*border-bottom: 1px dotted #CCC;*/
    color:rgb(2, 159, 235);
    border-bottom: 1px dotted #029feb;
}
ul#topmenu li a:active {
    color: rgb(251, 188, 0);
    text-decoration: none;
    padding-bottom: 3px;
    border-bottom: 1px dotted rgb(251, 188, 0);
}
ul#topmenu li:before {
    content: " | ";
    color: #303233;
    padding-right: 6px;
    font-style: normal;
}
ul#topmenu li:first-child:before {
    content: "";
}


/* MAIN NAV MENU Special Thanks to Guillaume Marty at http://net.tutsplus.com for the CSS Drop Down menu
----------------------------------------------------------*/
.menuwrapper { /* Wrapper to position the middle nav bar */
    position: relative;
    z-index: 15;
}

#menu {
	list-style:none;
	width:940px;
	margin:-20px auto 0px auto;
	height:43px;
	padding:0px 20px 0px 20px;

	/* Rounded Corners */
	
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;

	/* Background color and gradients */
	
	background: #FBBC00;
	background: -moz-linear-gradient(top, #FBBC00, #BA8B00);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FBBC00), to(#BA8B00));
	
	/* Borders */
	
	border: 1px solid #999;

	-moz-box-shadow:inset 0px 0px 1px #edf9ff;
	-webkit-box-shadow:inset 0px 0px 1px #edf9ff;
	box-shadow:inset 0px 0px 1px #edf9ff;
    -moz-box-shadow:3px 3px 5px #0e0d0d;
	-webkit-box-shadow:3px 3px 5px #0e0d0d;
	box-shadow:3px 3px 5px #0e0d0d;
}
#menu li {
	float:left;
	display:block;
	text-align:center;
	position:relative;
	padding: 2px 15px 4px 10px;
	margin-right:40px;
	margin-top:7px;
	border:none;
}
#menu li:hover {
	border: 1px solid #777777;
	padding: 1px 14px 4px 9px;
	
	/* Background color and gradients */
	
	background: #F4F4F4;
	background: -moz-linear-gradient(top, #F4F4F4, #EEEEEE);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F4F4F4), to(#EEEEEE));
	
	/* Rounded corners */
	
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
}
#menu li a {
	font-family: "prenton", Verdana, Helvetica, Sans-Serif;
	font-size: 1em; 
	color: #333;
	display:block;
	outline:0;
	text-decoration:none;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .005em;
	/*text-shadow: 1px 1px 1px #000;*/
}
#menu li:hover a {
	color:#161616;
	text-shadow: 1px 1px 1px #ffffff;
    font-weight: 500;
    letter-spacing: .005em;
    text-transform: none;
}
#menu li div a.link {
	font-family: "prenton", Verdana, Helvetica, Sans-Serif;
	font-size: 1em; 
	display:block;
	outline:0;
	text-decoration:none;
    font-weight: 500;
	/*text-shadow: 1px 1px 1px #000;*/
}
#menu li a.drop {
    padding-right:21px;
    background:url("../Images/drop.png") no-repeat right 9px;
}
#menu li:hover a.drop {
	background:url("../Images/drop.png") no-repeat right 9px;
}

.dropdown_1column, 
.dropdown_2columns, 
.dropdown_3columns, 
.dropdown_4columns,
.dropdown_5columns {
	margin:4px auto;
	float:left;
	position:absolute;
	left:-999em; /* Hides the drop down */
	text-align:left;
	padding:10px 5px;
	border:1px solid #777777;
	border-top:none;
	
	/* Gradient background */
	background:#F4F4F4;
	background: -moz-linear-gradient(top, #EEEEEE, #BBBBBB);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EEEEEE), to(#BBBBBB));

	/* Rounded Corners */
	-moz-border-radius: 0px 5px 5px 5px;
	-webkit-border-radius: 0px 5px 5px 5px;
	border-radius: 0px 5px 5px 5px;
}

.dropdown_1column  {width: 180px;}
.dropdown_2columns {width: 380px;}
.dropdown_3columns {width: 540px;}
.dropdown_4columns {width: 720px;}
.dropdown_5columns {width: 860px;}

#menu li:hover .dropdown_1column, 
#menu li:hover .dropdown_2columns, 
#menu li:hover .dropdown_3columns,
#menu li:hover .dropdown_4columns,
#menu li:hover .dropdown_5columns {
	left:-1px;
	top:auto;
}

.col_1,
.col_2,
.col_3,
.col_4,
.col_5 {
	display:inline;
	float: left;
	position: relative;
	margin-left: 5px;
	margin-right: 5px;
    background-color: transparent;
}
.col_1 {width:160px;}
.col_2 {width:340px;}
.col_3 {width:520px;}
.col_4 {width:700px;}
.col_5 {width:880px;}

#menu .menu_right {
	float:right;
	margin-right:0px;
}
#menu li .align_right {
	/* Rounded Corners */
	-moz-border-radius: 5px 0px 5px 5px;
    -webkit-border-radius: 5px 0px 5px 5px;
    border-radius: 5px 0px 5px 5px;
}

#menu li:hover .align_right {
	left:auto;
	right:-1px;
	top:auto;
}

#menu p, #menu h2, #menu h3, #menu ul li {
	color: #333;
    font-family:"prenton", Verdana, sans-serif;
	text-align:left;
	text-shadow: 1px 1px 1px #FFFFFF;
    
}
#menu h2 {
	font-size: 1em;
	font-weight: 400;
	letter-spacing: -1px;
	margin: 7px 0 14px 0;
	padding-bottom: 14px;
	border-bottom: 1px solid #666666;
}
#menu h3 {
	font-size: 1em;
	margin: 7px 0 14px 0;
	padding-bottom: 7px;
	border-bottom: 1px solid #888888;
}
#menu p {
	line-height: 18px;
	margin: 0 0 10px 0;
    font-size: .9em;
}

#menu li:hover div a { /* Links within divs on Hover*/
	color:#303233;
    padding: 5px 0px;
    border-bottom: 1px dotted #015b86;
}
#menu li:hover div a:hover {
	color:rgb(2, 159, 235);
    border-bottom: 1px dotted #029feb;
}
.imgshadow { /* Better style on light background */
	background:#FFFFFF;
	padding:4px;
	border:1px solid #777777;
	margin-top:5px;
	-moz-box-shadow:0px 0px 5px #666666;
	-webkit-box-shadow:0px 0px 5px #666666;
	box-shadow:0px 0px 5px #666666;
}

#menu li ul {
	list-style:none;
	padding:0;
	margin:0 0 12px 0;
}
#menu li ul li {
	font-size: .85em;
    line-height: 1.75em;
    font-kerning: auto;
	position:relative;
	text-shadow: 1px 1px 1px #ffffff;
	padding:0;
	margin:0;
	float:none;
	text-align:left;
	width:160px;
}

#menu li ul li:hover {
	background:none;
	border:none;
	padding:0;
	margin:0;
}
#menu li .greybox li {
	background:#F4F4F4;
	border:1px solid #bbbbbb;
	margin:0px 0px 4px 0px;
	padding:4px 6px 4px 6px;
	width:116px;

	/* Rounded Corners */
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}
#menu li .greybox li:hover {
	background:#ffffff;
	border:1px solid #aaaaaa;
	padding:4px 6px 4px 6px;
	margin:0px 0px 4px 0px;
}
.menubrand {
    min-height: 60px; 
    margin-left: -5px;
}
.branddesc {
    min-height: 125px;
}
/* END MAIN NAV MENU STYLES */

/* OUR TEAM STYLES */
#bio {
    width: 100%;
}
.member {
    margin: 20px 0;
    border-bottom: 1px dotted #808080;
    padding: 30px 0;
    display:block;
    overflow: hidden;
    min-height:260px;
}

.bioimage {
    float: left;
    margin-right:20px;
    display: inline;
    width: 220px;
}
.biotext {
    width: 540px;
    display: inline;
    float:left;
}
img.bio {
    border: 5px solid #FFF;
    float: left;
    z-index: 1;
    width: 210px;
    height: 210px;
    margin-top:-35px;
}
div.imgcontainerbio {
    width: 220px;
    float: left;
    margin-top:35px;
}

img.bio:hover {
    border: 5px solid #FBBC00;
}
#bio h2 {
    margin: -4px 0px 10px 0px;
}
p.smaller {
    font-size: .7em;
    line-height: 1.7em;
}

/* END OUR TEAM STYLES */

hgroup.title {
    margin-bottom: 10px;
    width: 100%;
}
    
/* CONTENT STYLES */

article {
    float: left;
    width: 620px;
    margin-right: 20px;
    display: inline;
    padding-bottom: 30px;
}
article.fullwidth {
    width: 960px;
}
aside {
    float: right;
    width: 300px;
}

#smart ul {
    list-style:disc outside none;
    font-size: .85em;
    margin-left: 20px;
    margin-bottom: 20px;
}

#smart li {
    padding: 2px 0 2px 0px;
}

#smart li a {
	font-family: "prenton", Verdana, Helvetica, Sans-Serif;
	color: #FBBC00;
	display:block;
}

#smart li:hover a {
	color:#FFF;
}
img.aside {
    /*margin: 0px auto -4px auto;
    border: 10px solid #FFF;*/
    border-radius: 10px 10px 10px 10px;
    border: 1px solid rgba(0, 0, 0, .7);
    margin-bottom: 30px;
    opacity: .95;
}
img.rounded {
    border-radius: 10px 10px 10px 10px;
    border: 1px solid rgba(0, 0, 0, .7);
    margin: 0px 0px;
    opacity: 1;
}
#smartarticle {
    padding: 10px; 
    background-color:rgb(200, 200, 200);
    border: 10px solid #fff; 
    color: #3B3D42; 
    margin: 10px;
    
}
#smartarticle h2 {
    color:#3B3D42;
    text-shadow:none;
}
#smartarticle h3 {
    color:#f23c01;
}
.smartarticle {
}
/*-------------- FORMS ---------------*/

input, select, textarea {
    font-family: "prenton", Verdana, Helvetica, Sans-Serif;
	color: #333;
    font-size: 1em;
    font-weight: 400;
    border: 1px solid #333;
    opacity: .75;
    padding: 4px 6px;
    margin: 2px 10px 5px 0px;
    display: inline-block;
    background-color:rgb(255, 255, 255);
    
    border: 1px solid #999;
    
    -moz-box-shadow:inset 1px 1px 2px #1e1e1e;
	-webkit-box-shadow:inset 1px 1px 2px #1e1e1e;
	box-shadow:inset 1px 1px 2px #1e1e1e;
    
    /*-moz-border-radius: 5px 2px 2px 2px;
	-webkit-border-radius: 2px 2px 2px 2px;
	border-radius: 10px 10px 10px 10px;*/
}
input:hover {
    opacity: 1;
        
    border: 1px solid #999;
    
    -moz-box-shadow: 1px 1px 1px #FFF;
	-webkit-box-shadow: 1px 1px 1px #FFF;
	box-shadow: 1px 1px 4px #FFF;
}
input [type=submit] {
    display: block;
}
.inputglow {
    opacity: 1;
        
    border: 1px solid #999;
    
    -moz-box-shadow: 1px 1px 1px #FFF;
	-webkit-box-shadow: 1px 1px 1px #FFF;
	box-shadow: 1px 1px 4px #FFF;
}
fieldset {
    margin: 0;
    padding: 0;
}
label {
    text-align: left;
    display: block;
    font-size: .9em;
    font-weight:400;
}
label.form {
    margin: 5px 0px 0px 0px;
}
span.required {
    color:rgb(251, 188, 0);
    font-weight: bold;
}
label.contact {
     font-size: .9em;
     display:inline;
}
.editor-field {
    display: block;
    margin: 3px 0px;
    clear: right;
}
.field-validation-error {
    font-size: .9em;
    color:rgb(251, 188, 0);
    font-weight: bold;
}
select {
border: 1px solid #333;
}
.button, a.button {
    display: inline-block;
    padding: 6px 12px;
    color: rgb(51, 51, 51);
    cursor: pointer;
    opacity: 1;
    text-transform: uppercase;
    font-weight: 600;
    font-size: .9em;

    background: #FBBC00;
	background: -moz-linear-gradient(top, #FBBC00, #BA8B00);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FBBC00), to(#BA8B00));
    
    -moz-box-shadow:inset 0px 0px 1px #715304;
	-webkit-box-shadow:inset 0px 0px 1px #715304;
	box-shadow:inset 0px 0px 3px #715304;
    /*-moz-box-shadow:3px 3px 5px #0e0d0d;
	-webkit-box-shadow:3px 3px 5px #0e0d0d;
	box-shadow:3px 3px 5px #0e0d0d;*/
}
.button:hover {
    display: inline-block;
    padding: 6px 12px;
    background-color: #303233;
    color:rgb(2, 159, 235);
    cursor: pointer;
    font-size: .9em;

    -moz-box-shadow:inset 0px 0px 1px #edf9ff;
	-webkit-box-shadow:inset 0px 0px 1px #edf9ff;
	box-shadow:inset 1px 1px 3px #FFF;
    
    background:#F4F4F4;
	background: -moz-linear-gradient(top, #EEEEEE, #BBBBBB);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EEEEEE), to(#BBBBBB));
    
    /*-moz-box-shadow:inset 0px 0px 1px #edf9ff;
	-webkit-box-shadow:inset 0px 0px 1px #edf9ff;
	box-shadow:inset 0px 0px 1px #edf9ff;*/
    /*-moz-box-shadow:3px 3px 5px #0e0d0d;
	-webkit-box-shadow:3px 3px 5px #0e0d0d;
	box-shadow:3px 3px 5px #0e0d0d;*/
}
.smallbutton {
    display: inline-block;
    padding: 5px 8px;
    font-size: .75em;
    color: rgb(255, 255, 255);
    cursor: pointer;
    opacity: 1;
    text-transform: uppercase;
    font-weight: 600;

    background: #013a5b;
	background: -moz-linear-gradient(top, #025381, #013a5b);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#025381), to(#013a5b));
    
    -moz-box-shadow:inset 0px 0px 1px #003554;
	-webkit-box-shadow:inset 0px 0px 1px #003554;
	box-shadow:inset 0px 0px 3px #003554;
    
    /*-moz-box-shadow:3px 3px 3px #0e0d0d;
	-webkit-box-shadow:3px 3px 3px #0e0d0d;
	box-shadow:2px 2px 2px #0e0d0d;*/
}
.smallbutton:hover {
    display: inline-block;
    padding: 4px 8px;
    font-size: .75em;
    background-color: #303233;
    color:rgb(2, 159, 235);
    cursor: pointer;
    opacity: 1;

    background:#F4F4F4;
	background: -moz-linear-gradient(top, #EEEEEE, #BBBBBB);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EEEEEE), to(#BBBBBB));
    
    -moz-box-shadow:inset 0px 0px 1px #edf9ff;
	-webkit-box-shadow:inset 0px 0px 1px #edf9ff;
	box-shadow:inset 0px 0px 1px #edf9ff;
    
    /*-moz-box-shadow:3px 3px 5px #0e0d0d;
	-webkit-box-shadow:3px 3px 5px #0e0d0d;
	box-shadow:3px 3px 5px #0e0d0d;*/
}

.productinfo {
    background-color:rgba(0, 0, 0, .3);
    padding: 20px;
    border: 1px solid #000;
    margin: 20px 0px;
    min-width: 80%;
    display: inline-block;
    
    border-radius: 10px 10px 10px 10px;
    
    -moz-box-shadow:inset 0px 0px 1px #000;
	-webkit-box-shadow:inset 0px 0px 1px #000;
	box-shadow:inset 0px 0px 3px #000;
    
}
/*--------------AWARDS--------------*/

div.award {
    width: 160px;
    float: left;
    clear: right;
    padding-right: 20px;
    text-wrap: none;
    margin: 20px 0px;
    min-height: 180px;
}
img.award {
    width: 150px;
    height: 150px;
    padding: 5px;
}
div.awardtext {
    width: 400px;
    float: left;
    clear: right;
    text-wrap: none;
    margin: 20px 0px;
    min-height: 180px;
}

/*--------------END AWARDS--------------*/

/* HOME PAGE FEATURES */

.feature {
    margin: 10px 0;
    border-bottom: 1px dotted #808080;
    padding: 30px 0;
    display:block;
    overflow: hidden;
}
._1column, ._2columns, ._3columns,
._4columns, ._5columns, ._6columns,
._7columns, ._8columns, ._9columns,
._10columns, ._11columns, ._12columns {
  display: inline;
  float: left;
  margin: 0 10px;
}
._1column {
  width: 60px;
}

._2columns {
  width: 140px;
}

._3columns {
  width: 220px;
}

._4columns {
  width: 300px;
}

._5columns {
  width: 380px;
}

._6columns {
  width: 460px;
}

._7columns {
  width: 540px;
}

._8columns {
  width: 620px;
}

._9columns {
  width: 700px;
}

._10columns {
  width: 780px;
}

._11columns {
  width: 860px;
}

._12columns {
  width: 940px;
}
#special {
    padding: 15px 10px;
    background-color:transparent;
    border-radius: 10px 10px 10px 10px;
    border: 1px solid rgba(0, 0, 0, 1);
    overflow: hidden;
}
#special h2 {
    color:rgb(251, 188, 0);
}

.stroller {
    background-image: url("../Images/strollerbg.jpg");
    background-position:top;
    background-repeat:no-repeat;
    
}

/*section.feature {
    width: 290px;
    float: left;
    margin-right: 10px;
    border-right: 1px dotted #666;
    padding: 0px 10px 0px 10px;
    min-height: 475px;
    margin-bottom: 30px;
}*/
.last {
    border-bottom: none;
}

/* END HOME PAGE FEATURES */

/* Footer Columns */

section.footer {
    width: 188px;
    float: left;
}

/* Footer Lists */

#footer ul {
    margin: 0;
    text-align: left;
}
#footer li {
    display: block;
    list-style: none;
}

#footer li a {
    background: none;
    color: #1b1b1b;
    text-decoration: none;
    padding-bottom: 5px;
}

#footer li a:hover {
    color: #FBBC00;
    text-decoration: none;
}
#footer h3 {
    color: #1b1b1b;
    font-weight: bold;
    margin: 10px 0px 0px 0px;
}
#footer hr {
    border: none 0;
    border-bottom: 1px dotted #1b1b1b;
    clear: both;
    margin: 5px 0px;
    width:60%;
}

.copyright {
    width: 960px;
    color: #1b1b1b;
    background-color: transparent; 
    float: right; 
    text-align: right; 
    margin: 0px auto 10px auto; 
    font-size: .85em; 
    border-bottom: 1px dotted #1b1b1b; 
    padding: 10px 0px 5px 0px;
    
}
.connect {
    width: 960px;
    margin: 0px auto 10px auto;
    background-color: transparent;
    float: left;
}
  

/* SOCIAL MEDIA BAR IN FOOTER */

#social {
    position: relative;
    padding-top: 10px;
}

#social li {
    display: inline;
    list-style: none;
    padding-right: 20px;
    padding-top: 8px;
}

#social li a {
    color: #1b1b1b;
    text-decoration: none;
}
#social li a:hover {
    color: #FBBC00;
    text-decoration: none;
}
.facebook, .twitter, .youtube, .pinterest, .googleplus, .newsletter  {
    padding-left: 32px;
    padding-bottom: 2px;
    opacity: 0.75;
}
.facebook:hover, .twitter:hover, .youtube:hover, .pinterest:hover, .googleplus:hover, .newsletter:hover {
    opacity: 1.0;
}
.facebook {
    background: url("../Images/sprite_foot.png") no-repeat top left;
    background-position: 0px -1px;
}
.twitter {
    background: url("../Images/sprite_foot.png") no-repeat top left;
    background-position: 0px -25px;
}
.youtube {
    background: url("../Images/sprite_foot.png") no-repeat top left;
    background-position: 0px -53px;
}
.pinterest {
  background: url("../Images/sprite_foot.png") no-repeat top left;
    background-position: 0px -81px;  
}
.googleplus {
    background: url("../Images/sprite_foot.png") no-repeat top left;
    background-position: 0px -110px;
}
.newsletter {
   background: url("../Images/sprite_foot.png") no-repeat top left;
    background-position: 0px -138px;
}
.jpma {
    opacity: 0.75;
}
.jpma:hover {
    opacity: 1;
}

/* END SOCIAL MEDIA BAR IN FOOTER */

/* --------------------------- LISTS -----------------------------*/

li.regal {
    background: url("../Images/bullet.png") no-repeat 0 50%;
    padding: 2px 0 2px 20px;
    font-size: 1em;
    margin-left: 20px;
}

ul.default {
    list-style: disc inside none;
    margin-bottom: 10px;
    font-size: 1em;
}

ul.default li {
    color:rgb(200, 200, 200);
    font-family: "prenton", Verdana, Helvetica, Sans-Serif;
	/*background: url("../Images/bullet.png") no-repeat 0 50%;*/
    line-height: 2em;
    padding-left: 20px;
}

ul.default li a, ol.default a {
	color:rgb(200, 200, 200);
	display:inline;
}

ul.default li a:hover, ol.default li a:hover {
	color:rgb(2, 85, 235);
	display:inline;
}

ol.default {
    list-style: decimal inside none;
}

ol.default li {
    color:rgb(200, 200, 200);
    font-family: "prenton", Verdana, Helvetica, Sans-Serif;
}

ol.default li a, ol.default a {
	color:rgb(200, 200, 200);
    display: inline;
}

ol.default li a:hover, ol.default li a:hover {
	color: #FBBC00;
    display: inline;
}
ul.default li.sublist {
    color: #FFF;
    list-style-type: none;
    font-size: 1em;
    font-family: "prenton", Verdana, Helvetica, Sans-Serif;
	line-height: 2em;
    padding-left: 0px;
    margin-top: -5px;
    font-style: normal;
}
/*-------Brands --------*/

ul.brands {
    list-style: disc inside none;
    margin-bottom: 10px;
    font-size: 1em;
}

ul.brands li {
    color:rgb(2, 159, 235);
    font-family: "prenton", Verdana, Helvetica, Sans-Serif;
	/*background: url("../Images/bullet.png") no-repeat 0 50%;*/
    line-height: 2em;
    padding-left: 20px;
}

ul.brands li a, ol.brands a {
	color:rgb(2, 159, 235);
	display:inline;
}

ul.brands li a:hover, ol.brands li a:hover {
	color:rgb(2, 85, 235);
	display:inline;
}

ol.brands {
    list-style: decimal inside none;
}

ol.brands li {
    color:rgb(200, 200, 200);
    font-family: "prenton", Verdana, Helvetica, Sans-Serif;
}

ol.brands li a, ol.brands a {
	color:rgb(200, 200, 200);
    display: inline;
}

ol.brands li a:hover, ol.brands li a:hover {
	color: #FBBC00;
    display: inline;
}
ul.brands li.sublist {
    color: #FFF;
    list-style-type: none;
    font-size: 1em;
    font-family: "prenton", Verdana, Helvetica, Sans-Serif;
	line-height: 2em;
    padding-left: 0px;
    margin-top: -5px;
    font-style: normal;
}
/*END LISTS */

/*----------------- FAQ STYLES ----------------------*/
 article.accordion {
	display: block;
	width: 60em;
	/*padding: 0.5em 0.5em 1px 0.5em;*/
	margin: 0 auto;
	background-color: rgba(0,0,0, 0);
	/*border-radius: 5px;
	box-shadow: 0 3px 3px rgba(0,0,0,0.3);*/
}
article.accordion section {
	display: block;
	width: 57em;
	height: 3em;
	padding: 0 1em;
	margin: 0 0 0.5em 0;
	color: rgb(255,255,255);
	overflow: hidden;
	
    border-radius: 3px;
    border: 1px solid rgba(0,0,0, .3);
    
    background: #2b2b2b;
	background: -moz-linear-gradient(top, #2b2b2b, #232323);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2b2b2b), to(#232323));
}
article.accordion section h2 {
	/*font-size: 1em;*/
	font-weight: bold;
	line-height: 2em;
	padding: 0;
	margin: 0;
	color: rgb(251, 188, 0);
    background:url("../Images/drop.png") no-repeat right 10px;
}
article.accordion section h2 a {
	display: block;
	line-height: 2em;
	text-decoration: none;
	color: inherit;
	outline: 0 none;
}
article.accordion section h2 a:hover {
	color: #FFF;
}
article.accordion section:target {
	color: rgb(255,255,255);
    min-height: 30em;
    height: auto;
	background: none;
    border:none;
    z-index: 10;
}
article.accordion section:target h2 {
	position: relative;
    font-size: 1.5em;
	color: #FFF;
    overflow: hidden;
	padding-left: 1em;
    z-index: 10;
    
    background-color: #000;
	background: -moz-linear-gradient(top, #232323, #000);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#232323), to(#000));
    
    border: 1px solid rgba(0,0,0, .3);
    border-radius: 3px 3px 0px 0px;
    box-shadow: 0 3px 3px rgba(0,0,0,0.3);
}
article.accordion section:target h2 a:hover {
	color: rgb(251, 188, 0);
}
article.accordion section:target h2.faqsubhead {
    background-color: transparent;
    background: none;
    box-shadow: none;
    border: none;
    color:rgb(251, 188, 0);
    padding-left:0em;
}
article.accordion section:target h3 {
    color:rgb(251, 188, 0);
     padding-top: 1em;
     border-bottom: 1px dotted rgb(0, 0, 0);
     padding-bottom: .5em;
}
article.accordion section:target h4 {
    font-style:normal;
    line-height: 1.5em;
}
div.page 
{
    background-color: rgba(0,0,0, .1);
    padding: 1em;
	border-radius: 0px 0px 3px 3px;
    width:54.9em;
    border-right: 1px solid #1b1b1b;
    border-left: 1px solid #1b1b1b;
    border-bottom: 1px solid #1b1b1b;
    z-index: -1;
}
ul.faq {
    list-style: disc outside none;
    color:rgb(100, 200, 255);
    margin-bottom: 10px;
    font-size: .9em;
    padding-left: 50px;
}
ul.faq li {
    color: #FFF;
    font-family: "prenton", Verdana, Helvetica, Sans-Serif;
	/*background: url("../Images/bullet.png") no-repeat 0 50%;*/
    line-height: 2em;
}
ul.faq li a {
	color:rgb(100, 200, 255);
	display:inline;
}
ul.faq li a:hover {
	color:rgb(2, 85, 235);
	display:inline;
}
/*article.accordion section,
article.accordion section h2
{
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}*/
/* Definition Lists */

dt{
	color:rgb(200, 200, 200);
    font-size: 1em;
    font-weight:bold;
	margin-bottom:1em;
	padding-left:20px;
	position:relative;
	cursor:pointer;
    
    text-shadow: 1px 1px 1px #000;
}
dt:hover{ color:#FFF;}

dt .icon{
	background:url('../../Images/bullets.png') no-repeat;
    height:12px;
	left:0;
	position:absolute;
	top:8px;
	width:12px;
}

dt.opened .icon{ background-position:left bottom;}

dd{
	font-size:.9em;
	color:rgb(200, 200, 200);
	line-height:1.5;
	padding: 0 0 1em 40px;
	width:760px;
	display:none;
}

/*-------------------------- BACK TO TOP ------------------------------*/

#backtotop {
	position: fixed;
	left:0px;
    top: 50%;
	display:none;/*hid the button first*/
    z-index: 50;
}
#backtotop a {
	display:block;
	width:40px;
	height:35px;
	margin:0;
	padding:0 0 0 10px;
	font-family:'prenton';
    font-weight: 500;
	font-size: 1.25em;
	color:#1b1b1b;
    opacity: .95;
	
    background: #FBBC00;
	background: -moz-linear-gradient(top, #FBBC00, #BA8B00);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FBBC00), to(#BA8B00));
    
    -moz-border-radius-topright:15px;
	-webkit-border-top-right-radius:15px;
	border-top-right-radius:15px;
	-moz-border-radius-bottomright:15px;
	-webkit-border-bottom-right-radius:15px;
	border-bottom-right-radius:15px;
    
     -moz-box-shadow:3px 3px 5px #0e0d0d;
	-webkit-box-shadow:3px 3px 5px #0e0d0d;
	box-shadow:3px 3px 5px #0e0d0d;
    
	-webkit-transition:all 0.2s linear 0s;
	-moz-transition:all 0.2s linear 0s;
	-o-transition:all 0.2s linear 0s;
	transition:all 0.2s linear 0s;
}
#backtotop a:hover {
	opacity:.8; /*mouse over fade effect*/
    background-color:#85c3e9;
	color:#333
}
.clrb {
	clear:both;
}
#maindiv {
	width:700px;
	border:1px solid #999;
	margin:auto;
	padding:20px;
}

/*------------------ TABS ----------------------*/

#tabbed_box {
        margin: 0px auto 0px auto;
        width: 460px;
    }

    .tabbed_area {
        border: 1px solid #ddd;
        background-color: #636d76;
        padding: 8px;
        background: #636d76;
        background: -moz-linear-gradient(top, #636d76, #001F40);
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#636d76), to(#001F40));
    }

    ul.tabs {
        margin: 0px;
        padding: 0px;
    }

    ul.tabs li {
        list-style: none;
        display: inline;
    }

    ul.tabs li a {
        background-color: #ddd;
        color: #333;
        padding: 6px 8px;
        text-decoration: none;
        font-size: .75em;
        font-family: "prenton", Verdana, Arial, Helvetica, sans-serif;
        font-weight: 400;
        text-transform: uppercase;
        border: 1px solid #ddd;
        border-radius: 10px 10px 0 0;
    }

    ul.tabs li a:hover {
        background-color: #036629;
        border-color: #ddd;
        color: #fff;
    }

    ul.tabs li a.active {
        background-color: #FFF;
        padding: 10px 8px 8px 8px;
        color: #282e32;
        border: 1px solid #ddd;
        border-bottom: 1px solid #FFF;
        font-weight: 500;
    }

    ul.tabs {
        margin: 0px;
        padding: 0px;
        margin-top: 5px;
        margin-bottom: .2em;
    }

    .content {
        background-color: #ddd;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 0 10px 10px 10px;
        background: #fff;
        background: -moz-linear-gradient(top, #fff, #ddd);
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#ddd));
    }

    #content_2, #content_3, #content_4, #content_5 {
        display: none;
    }


    .content ul {
        margin: 0px;
        padding: 0px 20px;
    }

    .content ul li {
        list-style: disc outside none;
        padding: 5px 0;
        font-size: .85em;
    }

    .content ul li a {
        text-decoration: none;
        color: #3e4346;
    }

    .content ul li a small {
        color: #8b959c;
        font-size: 9px;
        text-transform: uppercase;
        font-family: "prenton", Verdana, Arial, Helvetica, sans-serif;
        position: relative;
        left: 4px;
        top: 0px;
    }

    .content ul li:last-child {
        border-bottom: none;
    }
    /*------------------ TABS ----------------------*/

/*#tabbed_box {
        margin: 30px auto 0px auto;
        width: 95%;
    }

    .tabbed_box h4 {
        font-family: "prenton", Arial, Helvetica, sans-serif;
        font-size: 23px;
        color: #333;
        letter-spacing: -1px;
        margin-bottom: 10px;
    }

    .tabbed_box h4 small {
        color: #333;
        font-weight: normal;
        font-size: 9px;
        font-family: "prenton", Verdana, Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        position: relative;
        top: -4px;
        left: 6px;
        letter-spacing: 0px;
    }

    .tabbed_area {
        border: 1px solid #ddd;
        background-color: #636d76;
        padding: 8px;
        background: #636d76;
        background: -moz-linear-gradient(top, #636d76, #001F40);
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#636d76), to(#001F40));
    }

    ul.tabs {
        margin: 0px;
        padding: 0px;
    }

    ul.tabs li {
        list-style: none;
        display: inline;
    }

    ul.tabs li a {
        background-color: #ddd;
        color: #333;
        padding: 8px 14px 8px 14px;
        text-decoration: none;
        font-size: .85em;
        font-family: "prenton", Verdana, Arial, Helvetica, sans-serif;
        font-weight: 400;
        text-transform: uppercase;
        border: 1px solid #ddd;
        border-radius: 10px 10px 0 0;
    }

    ul.tabs li a:hover {
        background-color: #001F40;
        border-color: #ddd;
        color: #fff;
    }

    ul.tabs li a.active {
        background-color: #FFF;
        padding: 12px 14px 8px 14px;
        color: #282e32;
        border: 1px solid #ddd;
        border-bottom: 1px solid #FFF;
        font-weight: 500;
    }

    ul.tabs {
        margin: 0px;
        padding: 0px;
        margin-top: 5px;
        margin-bottom: .3em;
    }

    .content {
        background-color: #ddd;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 0 10px 10px 10px;
        background: #fff;
        background: -moz-linear-gradient(top, #fff, #ddd);
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#ddd));
    }

    #content_2, #content_3, #content_4, #content_5 {
        display: none;
    }


    .content ul {
        margin: 0px;
        padding: 0px 20px 0px 20px;
    }

    .content ul li {
        list-style: disc outside none;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 1em;
    }

    .content ul li a {
        text-decoration: none;
        color: #3e4346;
    }

    .content ul li a small {
        color: #8b959c;
        font-size: 9px;
        text-transform: uppercase;
        font-family: "prenton", Verdana, Arial, Helvetica, sans-serif;
        position: relative;
        left: 4px;
        top: 0px;
    }

    .content ul li:last-child {
        border-bottom: none;
    }*/