@{
    ViewBag.Subtitle = "Smart Articles";
    ViewBag.Article = "How to Choose Your First Stroller";
}
<h1>@ViewBag.Subtitle</h1>
<h5>A Little Wisdom From Our Team</h5>
<article>
    <div id="smartarticle" class="smartarticle drop-shadow">
        <h2>@ViewBag.Article</h2>
        <h3>All You Need to Know and More</h3>

        <p>
            Choosing Your First Stroller All You Need to Know and More. This is Photoshop's
            version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
        Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec
        sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet
        mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare
            odio. Sed non mauris vitae erat consequat auctor eu in elit.Class aptent taciti
            sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
        Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue.
            Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam
            pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa
            nisl quis neque. Suspendisse in orci enim.
        </p>
        <p>
            Choosing Your First Stroller All You Need to Know and More. This is Photoshop's
            version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
        Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec
        sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet
        mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare
            odio. Sed non mauris vitae erat consequat auctor eu in elit.Class aptent taciti
            sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
        Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue.
            Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam
            pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa
            nisl quis neque. Suspendisse in orci enim.
        </p>
        <p>
            Choosing Your First Stroller All You Need to Know and More. This is Photoshop's
            version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
        Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec
        sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet
        mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare
            odio. Sed non mauris vitae erat consequat auctor eu in elit.Class aptent taciti
            sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
        Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue.
            Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam
            pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa
            nisl quis neque. Suspendisse in orci enim.
        </p>
    </div>
</article>
<aside id="smart">
    <img src="../../Images/onyx-whatsnew.png" style="border: none;" />
    <hr />
    <h3>More Smart Articles</h3>
    <ul>
        <li><a href="#">How to Choose an Infant Car Seat</a></li>
        <li><a href="#">Choosing Your First Stroller Travel </a></li>
        <li><a href="#">Why use a Baby Carrier?</a></li>
        <li><a href="#">Second time Mom’s Benefit from Stroller Boards</a></li>
        <li><a href="#">Necessities for Potty Training </a></li>
        <li><a href="#">Why Would Anyone Use Cloth Diapers?</a></li>
        <li><a href="#">Tips for Proper Car Seat Installation</a></li>
        <li><a href="#">Why Buy a Diaper Pail When I Can Just Throw Them Out?</a></li>
        <li><a href="#">Choosing the Best Security Gate for Your Home</a></li>
    </ul>


</aside>
