@{
    ViewBag.Subtitle = "Our Awards"; 
            
}
<hgroup class="title">
    <h1>@ViewBag.SubTitle</h1>
</hgroup>
<article id="award">
    <p>
        In addition to meeting and exceeding all required standards, our products have also
        been rated the best by several top organizations including...
    </p>
    <div class="award">
        <img src="../../Images/Cribsie-Award.png" alt="Cribsie New Arrival" class="award">
    </div>
    <div class="awardtext">
        <h3><a target="_blank" href="http://cribsieawards.com/">Cribsie New Arrival Award</a>
        </h3>
        <p>
            The New Arrival Awards honor the best new brands and products introduced in 2011,
            as judged by the prestigious Cribsie Academy.
        </p>
        <ul class="default">
            <li>CYBEX&reg; Aton Infant Car Seat</li>
        </ul>
    </div>
    <div class="award">
        <img src="../../Images/IIHS-Best-Bet.png" alt="IIHS Best Bet" class="award">
    </div>
    <div class="awardtext">
        <h3><a href="http://www.iihs.org/research/topics/boosters/default.html" target="_blank">
            Insurance Institute for Highway Safety</a></h3>
        <p>
            Ratings from the Insurance Institute for Highway Safety take the guesswork out of
            selecting boosters most likely to provide good lap and shoulder belt fit in a range
            of vehicles.
        </p>
        <ul class="default">
            <li>CYBEX&reg; Solution X-fix High Back Booster Seat</li>
        </ul>
    </div>
    <div class="award">
        <img src="../../Images/jpma.png" alt="Juvenile Products Manufacturers Association"
            class="award">
    </div>
    <div class="awardtext">
        <h3><a href="http://www.jpma.org/" target="_blank" title="JPMA Certification">Juvenile
            Product Manufacturers Association (JPMA)</a></h3>
        <p>
            The JPMA Certification Seal on a product tells consumers this product has been verified
            as conforming to the requirements established by ASTM, through independent laboratory
            testing and follow-up on-site inspection of the manufacturer's production line.
        </p>
        <ul class="default">
            <li>CYBEX&reg; Ruby Stroller</li>
            <li>CYBEX&reg; Onyx Stroller</li>
            <li>CYBEX&reg; Callisto Stroller</li>
            <li>Lascal&reg; KiddyGuard&trade; Avant</li>
        </ul>
    </div>
    <div class="award">
        <img alt="" src="../../Images/iParenting.png" class="award">
    </div>
    <div class="awardtext">
        <h3><a href="http://www.iparentingmediaawards.com/" target="_blank">iParenting Media
            Awards</a></h3>
        <p>
            Program offers quantitative reviews of family-centric products such as books, toys,
            videos, baby gear and household items.
        </p>
        <ul class="default">
            <li>CYBEX&reg; 2.GO Infant Carrier</li>
        </ul>
    </div>
    <div class="award">
        <img src="../../Images/babblesbest.png" alt="" class="award">
    </div>
    <div class="awardtext">
        <h3><a href="http://www.babble.com/products" target="_blank" title="Babble's Best">Babble's
            Best</a></h3>
        <p>
            Babble testers test the most popular products and provide reviews and category winners
            to fit different lifestyles and budgets.
        </p>
        <ul class="default">
            <li>Bambino Mio&reg; Nappy Bucket</li>
            <li>CYBEX&reg; Callisto Stroller</li>
            <li>CYBEX&reg; Ruby Stroller</li>
        </ul>
    </div>
    <div class="award">
        <img src="../../Images/lilsugarReaderChoice.png" alt="Lil' Sugar Reader's Choice"
            class="award">
    </div>
    <div class="awardtext">
        <h3><a href="http://www.lilsugar.com/Best-Baby-Carrier-2010-12927868" target="_blank"
            title="Lil Sugar Reader's Choice Award 2010">Lil Sugar Readers Choice</a></h3>
        <p>
            LilSugar readers voted the 2.GO the the best baby carrier of year.
        </p>
        <ul class="default">
            <li>CYBEX&reg; 2.GO Infant Carrier</li>
        </ul>
    </div>
    <hr />
    @*-------- START REGAL LAGER AWARDS ------*@
    <div class="award">
        <img src="../../Images/bmdistributor.png" alt="Lil' Sugar Reader's Choice" class="award">
    </div>
    <div class="awardtext">
        <h3>Bambino Mio&reg; Distributor of the Year 2009/2010</h3>
        <p>
            Bambino Mio recognized us as having the best marketing initiatives among their many
            distributors.
        </p>
    </div>
    <div class="award">
        <img src="../../Images/bmdistributor.png" alt="Lil' Sugar Reader's Choice" class="award">
    </div>
    <div class="awardtext">
        <h3>Bambino Mio&reg; Distributor of the Year 2008/2009</h3>
        <p>
            Bambino Mio recognized us as having the best marketing initiatives among their many
            distributors.
        </p>
    </div>
    <div class="award">
        <img src="../../Images/goldencarrot.png" alt="AJC Golden Carrot" class="award">
    </div>
    <div class="awardtext">
        <h3><a href="http://www.kidstodayonline.com/article/516827-Regal_Lager_wins_award_for_office_workouts.php"
            target="_blank">Atlanta Journal and Constitution Golden Carrot</a></h3>
        <p>
            In their regular feature, the AJC's Better Health section recognizes those organized
            efforts, large and small, that might inspire other groups to initiate their own
            programs. And we want to hear about them.
        </p>
        <ul class="default">
            <li>CYBEX&reg; 2.GO Infant Carrier</li>
        </ul>
    </div>
</article>
<aside></aside>
