@{
    ViewBag.Subtitle = "Press Downloads";
}
<hgroup class="title">
    <h1>@ViewBag.SubTitle</h1>
</hgroup>
<article>

    <section>
        <p>We welcome members of the press to download and use the materials we offer. If you have a specific request, please @Html.ActionLink("send us and e-mail", "Media", "Email").</p>
        <h2>Press Kits</h2>
        <p>
            We offer the contents of our press kit in <a href="http://www.scribd.com/my_document_collections/3690672"
                target="_blank" title="Download digital copies of Press Kit material here">digital
                format</a>, however,  if you would like a hard copy, please @Html.ActionLink("please request one", "Media", "Email").
        </p>
        <h2>Images</h2>
        <p>
            High resolution images and logos for our brands and products are available for use from our <a href="http://www.flickr.com/photos/regallager/sets/"
                target="_blank" title="Regal Lager Product Images and Logos">Flickr photostream</a>
            for download and use by the media.
        </p>
        <h2>Press Releases</h2>
        <p>Read and or download current and past <a href="http://www.scribd.com/my_document_collections/3690902"
            target="_blank" title="Regal Lager Press Releases">Regal Lager Press Releases.</a>
        </p>
    </section>
</article>
<aside>
    <img src="../../Images/rl-pressdownload.png" alt="Regal Lager Press Downloads" width="290" height="753" />
</aside>
