@{
    ViewBag.Subtitle = "Press Downloads";
}
<hgroup class="title">
    <h1>@ViewBag.SubTitle</h1>
</hgroup>
<article>
    <section>
        <p>Images and logos are available on Flickr for download and use by the media.</p>
    </section>
</article>
