@{
    ViewBag.SubTitle = "Privacy Policy";}
<hgroup class="title">
    <h1>@ViewBag.SubTitle</h1>
</hgroup>
<article>
    <p>
        By accessing this website you are signifying you acknowledgement to the Privacy
        Policy set forth below. If you do not agree to this policy, please do not use this
        website. Regal Lager, Inc. can revise or update this policy at any time; your use
        after such change indicates your acceptance of the changed policy. Please periodically
        check these terms for changes.
    </p>
    <p>
        <strong>Personal Data<br />
        </strong>If you browse this website, you may generally do so anonymously without
        providing any personal data. However, there are some cases where you will be asked
        to supply personal information, such as when registering a product.
    </p>
    <p>
        Even if you choose not to provide us with personal data, you will be able to browse
        most of this website, but you may be unable to take advantage of certain options,
        features, or services.
    </p>
    <p>
        <strong>Use of Personal Information<br />
        </strong>Personal information provided by users on this website or our affiliate
        websites may be used for marketing and promotional purposes by Regal Lager, Inc.
        and it's affiliates only if the user has &quot;opted-in&quot; and therefore agreed
        to this type of usage. Otherwise, no information provided by users of site, may
        be used by Regal Lager, Inc. for marketing or promotional purposes.
    </p>
    <p>
        Regal Lager, Inc. does not rent, sell, or distribute to third parties, any personal
        information entered on this website, affiliate websites, or provided through correspondence
        with Regal Lager, Inc. While we use all reasonable efforts to safeguard the confidentiality
        of your information, Regal Lager, Inc. will have no liability for disclosure of
        any information due to errors in transmission or unauthorized actions of third-parties.
    </p>
    <p>
        Regal Lager, Inc. reserves the right to update this policy, or any other policy
        and practice at any time with reasonable notice to uses of the website. All changes
        posted will be effective immediately.
    </p>
    <p>
        <strong>Cookies<br />
        </strong>This site may use cookies for site administration purposes. If for any
        reason you wish not to take advantage of cookies, you may have your browser not
        accept them. This will in no way affect your usability of this site.
    </p>
    <p>
        This site may detect and use your IP address or domain name for internal traffic
        monitoring and capacity purposes. No personal information is obtained. Patterns
        of your usage may be tracked for statistical views and for improved content and
        usability.
    </p>
    <p>
        <strong>Linked Sites<br />
        </strong>Be advised that this website links to third-party website's. The linked
        sites are not under control of Regal Lager, Inc., and we are not responsible for
        the contents or privacy policies contained therein of any linked site.
    </p>
    <p>
        <strong>Contact Information:<br />
        </strong>Questions about our Privacy Policy may be directed to:<br />
        Regal Lager, Inc.<br />
        Attn: Privacy Policy<br />
        1100 Cobb Place Blvd.<br />
        Kennesaw, GA 30144
    </p>
</article><aside></aside>
