@{
    ViewBag.SubTitle = "Terms and Conditions";}
<hgroup class="title">
    <h1>@ViewBag.SubTitle</h1>
</hgroup>
<article>
    <p>
        PLEASE READ THESE TERMS OF USE CAREFULLY BEFORE USING OR ACCESSING ANY PAGES IN
        THE WEBSITE By using or accessing this web site you are acknowledging your agreement
        to the terms and conditions of use set forth below. If you do not agree to these
        terms of use, please do not use this web site. Regal Lager, Inc. is free to revise
        and update these terms of use at any time. Use after such changes signifies your
        acceptance of the changed terms. Please periodically check these terms of use periodically
        for changes.
    </p>
    <p>
        <strong>Content<br />
        </strong>This web site may contain links to third-party web sites, and those web
        site are the sole responsibility of such independent third parties, and use therefore
        is at your own risk. Regal Lager, Inc. has no control over content or polices of
        third-party web sites, and are under no circumstances liable for content, accuracy,
        or reliability of any web sites hyper linked to this web site.
    </p>
    <p>
        <strong>Use<br />
        </strong>Regal Lager, Inc. permits the download of one copy of the materials found
        on this web site to single computer for personal, non-commercial use. Redistribution,
        retransmission, or republication of the contents on this web site are strictly prohibited
        without the express written consent of Regal Lager, Inc. Request should be made
        to the contact listed below. All rights not expressed herein are reserved. Downloading
        of information, images, or content does not transfer any rights of ownership to
        you and may be used only in accordance with these terms of use.
    </p>
    <p>
        <strong>No Warranties</strong>
        <br />
        Regal Lager, Inc. makes no warranties that this web site is free from defects, viruses,
        or other harmful components. We are not responsible for any damages or losses that
        may occur from the hacking or infiltration of this web site or Regal Lager, Inc.'s
        computer systems. The pages and content of this web site may contain inaccuracies,
        typographical error, or outdated information. THIS WEBSITE IS PROVIDED &quot;AS
        IS.&quot; REGAL LAGER, INC., IN NO WAY GUARANTEES THE QUALITY, USABILITY, DATA CONTENT,
        OR LEGALITY OF CONTENT, OR SERVICES MADE AVAILABLE OR OBTAINED BY USE OF THIS WEBSITE.
        APPLICABLE LAWS MAY EXCLUDE YOU FROM THE ABOVE EXCLUSION. REGAL LAGER,INC. DOES
        NOT GUARANTEE THIS WEBSITE TO BE ERROR-FREE OR THAT IT WILL BE CORRECTED.
    </p>
    <p>
        <strong>Jurisdiction<br />
        </strong>Regal Lager, Inc. controls and maintains this web site from its facilities
        in the State of Georgia, USA. Materials and content on this web site are presented
        solely for promoting and products offered by Regal Lager, Inc. We make no representation
        that the information, products, or programs shown or referenced to, are available
        or appropriate in your country or region. The terms of use shall be governed in
        accordance with the laws of the State of Georgia and the United States of America.
        You and Regal Lager, Inc. consent to the exclusive jurisdiction of the courts located
        in Georgia for any action rising out of or relating to these terms.
    </p>
    <p>
        <strong>Trademarks and Copyrights<br />
        </strong>All trademarks and trade name are the property of their respective owners.
    </p>
    <p>
        Except where noted, Regal Lager, Inc. is the owner of all trademarks and service
        marks on this web site, whether registered or not. All registered trademarks are
        registered in the United States.
    </p>
    <p>
        <strong>Authorized Dealers<br />
        </strong>Only a Regal Lager Authorized Dealer appearing on this site may sell Regal
        Lager brands on the Internet. The Regal Lager Authorized Dealer must own the website.
        Sales outside the U.S. are prohibited, except for Bambino Mio&reg;, Cybex, Dekor&reg;,
        and Lascal&reg;, brands, which may be sold in Canada. Sales on third party websites,
        such as eBay&reg;, are strictly prohibited.
    </p>
    <p class="redtext">
        Purchase of any Regal Lager brands from a NON AUTHORIZED dealer voids all product
        warranties.
    </p>
    <p>
        <strong>Privacy</strong>
        <br />
        Please see our <a href="/privacy.aspx" target="_self">privacy policy</a>for information
        on the collection and use of personal information from this web site
    </p>
    Unless otherwise noted, all material on this site &copy;2010 Regal Lager, Inc. All
    rights reserved.</p>
    <p>
        <strong>Contact Information:</strong>
        <br />
        Questions about these terms and conditions may be directed to:<br />
        Regal Lager, Inc.<br />
        Attn: Legal Notice
        <br />
        1100 Cobb Place Blvd.<br />
        Kennesaw, GA 30144
    </p>
</article>
