@{
    Layout = "~/Views/Shared/_LayoutBrands.cshtml";
    ViewBag.SubTitle = "Brands : Cybex";
}

<h1 style="text-align: left;">
    <img src="../../Images/cybex-logo.png" style="border: none;" /></h1>
<article class="fullwidth">
    <div class="brandrow">
        <div class="_8columns">
            <h2 class="brands">Car Seats</h2>
            <p>
                CYBEX gives safety the top priority by conducting hundreds of crash tests per year.
                This explains why all car seats
                from CYBEX have earned outstanding results in the most important independant European
                safety and consumer safety tests. In the past five years alone, CYBEX products were
                awarded
                over one hundred awards for safety, design, and innovation.
            </p>
            <ul class="brands">

                <li>@Html.ActionLink("Aton Infant Car Seats","Aton","Cybex") @*<a href="http://grizzly:8090/Infant-Car-Seats-C25.aspx" target="_blank" title="Learn more about Aton">Aton Infant Car Seats</a>*@</li>
                @*<li><a href="http://www.regallager.com/cybex/solutionxfix.aspx" target="_self">Solution
                    X-fix High Back Booster</a></li>*@
            </ul>
            
            </div>
            
        <div class="_4columns">
            <img src="../../Images/aton-2012-chilipepper.png" />
        </div>
    </div>
    <div class="brandrow">
        <div class="_8columns">
            <h2 class="brands">Strollers and Carry Cots</h2>
            <p>
                The Cybex stroller line includes the stylish and functional: Callisto, Onyx, Ruby
                and all new Twinyx Double Stroller. These fashionable umbrella strollers have features
                that make them perfect for urban
        living and one of the best lightweight strollers on the market.
            </p>

            <p>
                Other benefits varying among the strollers include the patented central one-pull
                harness system, retractable Super Canopy&trade; and one-touch, cable linked brakes.
            </p>

            <ul class="brands">
                <li><a href="http://www.regallager.com/cybex/aton.aspx" target="_self">Callisto</a>
                </li>
                <li><a href="http://www.regallager.com/cybex/solutionxfix.aspx" target="_self">Onyx</a>
                </li>
                <li><a href="http://www.regallager.com/cybex/solutionxfix.aspx" target="_self">Ruby</a>
                </li>
                <li><a href="http://www.regallager.com/cybex/solutionxfix.aspx" target="_self">Carry
                    Cot</a></li>
                <li><a href="http://www.regallager.com/cybex/solutionxfix.aspx" target="_self">Twinyx</a>
                </li>
            </ul>
        </div>
        <div class="_4columns">
            <img src="../../Images/onyx-whatsnew.png" />
        </div>
    </div>
    <div class="brandrow">
        <div class="_8columns">
            <h2 class="brands">Travel Systems</h2>

            <p>
                All CYBEX strollers can transform into Travel Systems using an Aton Infant Car Seat,
                or another brand of infant car seat using one of three available CYBEX adapters.
                <a href="http://www.regallager.com/cybex/adapter/default.aspx" target="_self">Click
                    here</a> to find out exactly which Cybex adapters you need.
            </p>


        </div>
        <div class="_4columns"></div>
    </div>
    <div class="brandrow">
        <div class="_8columns">
            <h2 class="brands">Carriers and Wraps</h2>
            <p>
                The <a href="http://cybex-online.com/site/us/baby-carriers/2go.html" target="_blank">
                    2.GO</a> soft carrier is a truly versatile carrier offers five carrying positions
                for extended use as your child grows. The adjustable head rest provides the necessary
                support, while the seat can be widened into the Comfort Fit™ position recommended
                by orthopedists.
            </p>
            <p>
                The <a href="http://cybex-online.com/site/us/baby-carriers/ugo.html">u.GO wrap</a>
                combines fashion and function, offering the most natural and individual means of
                carrying a baby.
            </p>
            <ul class="brands">

                <li><a href="http://www.regallager.com/cybex/aton.aspx" target="_self">2.GO Infant Carrier</a>
                </li>
                <li><a href="http://www.regallager.com/cybex/solutionxfix.aspx" target="_self">u.GO
                    Wrap</a></li>
            </ul>
        </div>
        <div class="_4columns"></div>
    </div>
</article>
