@{
    ViewBag.SubTitle = "Frequently Asked Questions";
            
}
<hgroup class="title">
    <h1>FAQs</h1>
</hgroup>
<article class="accordion">
    <p>
        Please browse the FAQ section for answers to the most commonly asked questions about
        our products. If you are unable to find the answer that you are looking for, please
        contact our Customer Care Department at 800-593-5522.
    </p>
    <section id="acc1">
        <h2><a href="#acc1">Bambino Mio&reg; Cloth Diapers</a></h2>
        <div class="page">
            <div style="padding-left: 10px;">
                @*<span class="paragraph1"><a target="_self" title="why Bambino Mio"
                      
                        <a target="_self" title="why a liner" mce_href="/usa/nappy-system/faq#02" href="/usa/nappy-system/faq#02">
                            why is a biodegradable nappy liner (mioliner) used?</a><br>
                        <a href="/usa/nappy-system/faq#03" mce_href="/usa/nappy-system/faq#03">are Bambino Mio
                            reusable nappies easy to use?</a><br>
                        <a href="/usa/nappy-system/faq#04" mce_href="/usa/nappy-system/faq#04">how many nappies
                            do I need?</a><br>
                        <a href="/usa/nappy-system/faq#05" mce_href="/usa/nappy-system/faq#05">will my child
                            suffer from nappy rash because of using these nappies?</a><br>
                        <a mce_href="/usa/nappy-system/faq#06" href="/usa/nappy-system/faq#06">will the reusable
                            nappies leak?</a><br>
                        <a href="/usa/nappy-system/faq#07" mce_href="/usa/nappy-system/faq#07">are the nappies
                            bulky?</a><br>
                        <a href="/usa/nappy-system/faq#08" mce_href="/usa/nappy-system/faq#08">how often will
                            I need to change Bambino Mio nappies?</a></span>*@

                <h4>1. Why choose Bambino Mio for your baby?</h4>
                <p>
                    Bambino Mio were one of the first companies to start the reusable nappy revolution
                    fifteen years ago and today manufacture a range of diapers and accessories to ensure
                    when parents choose to reuse it is as simple and easy to do as disposables.
                </p>
                <h4>2. Bambino Mio have two different systems</h4>
                <p>
                    the two-piece which benefits from a 100% cotton nappy which can be folded to suit
                    the individual requirements of your baby and the miosolo a ne-size* all-in-one
                    nappy which is the simplest nappy to put on baby for the ultimate convenience. Bambino
                    Mio cloth diapers are slim fitting at the hips, they allow your baby more freedom
                    of movement. The nappy covers have Velcro® tabs and the miosolo have Velcro® style
                    tabs making them convenient, simple to use, and easy to adjust to the shape of your
                    baby. When laundering, our diapers wash and dry very efficiently providing you with
                    a fast turnaround.
                </p>
                <h4>3. Why is a mioliner (liner) used?</h4>
                <p>
                    Our nappy liners retain solids to help prevent soiling of the nappy and 
                    also reduce moisture seeping back onto baby's skin. Soiled nappy liners 
                    can simply be removed from a nappy and flushed away*. Wet liners should 
                    be placed in a bin or can be composted.
                </p>
                <p>
                    *Caution: the flushing of liners may cause blockages in old or damaged drains. No
                    responsibility can be accepted for individual drain systems.
                </p>
                <h4>4. Are Bambino Mio reusable cloth diapers easy to use?</h4>
                <p>
                    Our two-piece reusable nappy is designed to be quick and easy to use. 
                    Simply place a cotton nappy into a nappy cover, then place the complete 
                    nappy and cover (nappy wrap) onto baby like you would a disposable and fasten the
                    Velcro® fasteners around your baby’s tummy.&nbsp; If you are using our 
                    miosolo you do not need to use a separate nappy as the miosolo is an 
                    all-in-one nappy for the ultimate convenience.<br>
                    <br>
                    Reusable cloth diapers no longer need to be soaked. Real cloth diapers can be dry
                    stored in
                    the nappy bucket. Please refer to our <a href="http://www.scribd.com/doc/98688880/Bambino-Mio-User-Guide"
                        target="_blank">User Guide</a> for further guidance and tips.
                </p>

                <h4>5. How many Bambino Mio cloth diapers do I need?</h4>
                <p>
                    The number of cloth diapers you need will basically depend on how often you are
                    going to wash
                    the diapers. 
                </p>
                <h4>6. When using Bambino Mio reusable diapers full time, we recommend:</h4>
                <blockquote>
                    <p><strong>Using the two-piece sytem:</strong></p>
                    <ul class="default">
                        <li>Twenty four mionappies in one size (size 1 and 2 are available) 
                        </li>
                        <li>Three to six miosoft nappy covers in one size
                        </li>
                    </ul>
                    <p><strong>Using miosolo all-in-ones:</strong></p>
                    <ul class="default">
                        <li>Twenty miosolo (all-in-one nappy)
                        </li>
                    </ul>
                    <p><strong>You will also need:</strong></p>
                    <ul class="default">
                        <li>mioliners (nappy liners)</li>
                        <li>miofresh (nappy sanitizer)</li>
                        <li>A nappy bucket and laundry bag</li>
                    </ul>
                    <p>
                        Please note that all parents and babies needs are different, and you may need 
                    more or less cloth diapers and covers depending on your circumstances. It is 
                    important that you have enough diapers and covers so that you do not run
                    out as washing small quantities is not cost effective.
                    </p>
                </blockquote>
                <h4>7. Will my child suffer from diaper rash as a result of using cloth diapers?
                </h4>
                <p>
                    Studies* have shown that your child is five times more likely to suffer from diaper
                    rash if you use disposable diapers rather than cloth ones. This is because many
                    disposables feel dry when in fact they are wet. Diaper rash can be caused by
                    a number of things such as illness, diarrhea, teething, food allergies/, new  or
                    different foods, baby wipes, creams, and residual
                    particles of detergent from washing.
                </p>
                <p class="smaller">
                    (*Source: Br J Gen Pract 1997 Aug:47 (421):493-7 Getting to the
                    bottom of nappy rash. University of Bristol)
                </p>
                <h4>8. Will the reusable diapers leak?</h4>
                <p>
                    Both of our nappy systems have been designed for maximum absorbency with minimum
                    bulk. Both cotton and microfibre are highly absorbent fabrics ideal for cloth.
                    Our mionappies (two-piece system) are made from 100% cotton, a natural, breathable
                    fabric, where as the miosolo nappy has a highly absorbent has a super absorbent
                    microfibre core and a stay dry inner layer to keep baby comfortable
                    and dry.
                </p>
                <p>
                    Both the miosoft nappy cover (two-piece) and the miosolo benefit from 
                    elasticated legs and waistband to ensure a snug, comfortable fit which 
                    prevents leakage and Velcro® tabs to provide a perfect fit for all
                     shapes and sizes.
                </p>
                <p>
                    (two-piece only) It is 
                    important to use the correct size cover for your baby and use the most 
                    appropriate nappy fold to minimise the possibility of leakage. Details 
                    on how to choose the right size of real nappy or using the most 
                    efficient nappy fold can be found in the User Guide.
                </p>
                <h4>9. Are the Bambino Mio cloth diapers bulky?</h4>
                <p>
                    Bambino Mio reusable diapers are less bulky than terry diapers and slightly 
                    more bulky than disposables. However, when a disposable nappy is wet it 
                    will swell up more, due to the absorbency of the moisture retaining 
                    chemicals inside, unlike reusable diapers.
                </p>
                <h4>10. How often will I need to change Bambino Mio cloth diapers?</h4>
                <p>
                    A Bambino Mio nappy will need to be changed every two to four hours but it really
                    depends on how often your baby wets. Reusable nappy users prefer to 
                    change their baby more frequently whereas there is a temptation for 
                    disposable nappy users to leave for longer periods between changes 
                    because their baby does not feel wet.
                </p>
            </div>
        </div>
    </section>
    <section id="acc2">
        <h2><a href="#acc2">Cybex&reg; Strollers, Car Seats, and Carriers</a></h2>
        <div class="page">
            <div style="padding-left: 10px;">
                <h2 class="faqsubhead">Strollers</h2>
                <div style="padding-left: 20px;">
                 </div>
                <h2 class="faqsubhead">Car Seats</h2>
                <div style="padding-left: 20px;">
                    <h3>Aton Infant Car Seat</h3>
                    <div style="padding-left: 20px;">
                        <h4>1. May I use the Aton together with the base even when the airbag is activated?
                        </h4>

                        <p>
                            When using a rear-facing restraint system, it is imperative that the front airbag
                            is deactivated. This does not apply to side airbags. However, please ensure you
                            follow the advice and recommendations of your car manufacturer.
                        </p>

                        <h4>2. My vehicle is fitted with storage space in the foot well. Am I still allowed
                            to
                        use the Aton base station?</h4>


                        <p>
                            In this instance, please contact your car manufacturer. The base station may only
                            be used with the manufacturer’s approval. If the space is not filled with suitable
                            material, the base station may not be used in conjunction with the support leg.
                            The list of approved vehicles is no guarantee that your vehicle does not contain
                            storage space in the foot well.
                        </p>


                        <h4>3. What do I do if my baby’s head falls forwards while driving, even though the
                            Aton Infant Carrier is positioned in the vehicle horizontally as indicated by the
                            marker?
                        </h4>

                        <p>
                            The marker on the side of the infant carrier tells you whether the Aton is installed
                            in the car horizontally. The line of reference used is the “road level”. If, for
                            example, you have a small car, the angle of the rear seat may slope slightly, thus
                            marginally differing from the level of the road. If the Aton is aligned to the slant
                            of the rear seat, the infant carrier may be positioned in the car incorrectly and
                            the baby’s head may fall forward. This is why it is necessary to align the Aton
                            infant carrier to the level of the road.
                        </p>

                        <h4>4. Can I use the child seat on an airplane?</h4>

                        <p>
                            No, the seat is approved for use on an airplane. The base is not approved for use
                            on aircraft.
                        </p>

                        <h4>5. How to adjust the integrated foldaway canopy?</h4>
                        <p>
                            When not in use the baby seat‘s integrated foldaway canopy is hidden behind a visor
                            located at the back of the seat. By slightly lifting the visor the canopy may be
                            adjusted to your liking. To bring back the canopy to its original position slightly
                            lift the visor again in order to release and fold away the canopy.
                        </p>

                        <h4>6. May the baby seat be used on the passenger seat?</h4>
                        <p>
                            The baby seat “Aton” may be used on the passenger seat if the airbags are not activated.
                            The use of an infant carrier on vehicle seats with activated air bags pose a high
                            risk of injury and are prohibited by law.
                        </p>
                        <p>
                            CYBEX always recommends using the infant carrier in the back of the car (if possible
                            behind the passenger seat). Statistically, this is the least dangerous seat in the
                            car. In the case of a front impact collision the back seat position offers more
                            collapsible zone and no front airbags that might pose a safety hazard.
                        </p>

                        <p>
                            If you should need to use the car seat on the passenger seat in the front we ask
                            you to adjust the seat as far back as possible.
                        </p>
                        <h4>7. May the child be transported facing forward using the CYBEX Aton?</h4>

                        <p>
                            No, only infant carriers that are installed facing the rear end of the car can protect
                            the child’s sensitive head effectively during a front impact. The child’s musculature
                            is too weak to handle the forces triggered in an accident.
                        </p>

                        <h4>8. Is it ok to leave my child in the infant carrier at home?</h4>

                        <p>
                            Aton has been engineered to offer the best possible protection for a baby during
                            a car ride without affecting the child’s spine in a negative way. However, the baby
                            should not be left for a longer period of time – lying flat has proven to be the
                            best position for the development of the baby’s spine.
                        </p>

                        <h4>9. With which CYBEX pushchairs can I use the CYBEX Aton?</h4>

                        <p>
                            The baby seat Aton has specifically been engineered to be part of a travel system.
                            An adaptor connects the CYBEX Aton with all fully reclining CYBEX pushchairs (Callisto,
                            Topaz, Onyx). The combination of a baby car seat with the extremely compact buggy
                            makes the travel system extraordinarily flexible and practical. 
                        </p>

                        <h4>10. Is it ok to keep using a seat after an accident?</h4>
                        <p>
                            In an accident the plastic parts of the baby seat may sustain damages that are invisible
                            to the eye yet extremely dangerous. Therefore, CYBEX always strongly advises to
                            exchange the car seat if it has been involved in any type of accident.
                        </p>
                    </div>
                    <h3>Solution X-fix High Back Booster</h3>
                    <div style="padding-left: 20px;">
                        <h4>1. When I fasten my child’s safety belt, the belt no longer automatically retracts.
                            What can I do?
                        </h4>
                        <p>
                            The wide range of vehicle seats means that, in some cases, the safety belt may not
                            run smoothly to the child safety seat. If this is the case, first check whether
                            the height of the safety belt can be adjusted in the car. If possible, adjust the
                            height of the belt so that it runs straight and smoothly through the child safety
                            seat’s belt positioner. Alternatively, the problem may be alleviated if the vehicle
                            seat can be adjusted horizontally, vertically and/or at an angle
                        </p>

                        <h4>What can I do if my child’s head drops forward while sleeping in spite of the reclining
                            headrest?</h4>

                        <p>
                            If the child safety seat is attached to the car seat in too upright a position,
                            causing your child to be seated vertically, some children’s heads may fall to the
                            side in their sleep. Should this occur, the seat should be pulled forward slightly.
                            If your seat is designed with the Rigid LATCH, simply release the connectors by
                            one or, at most, two settings.
                            It is also possible to use a children’s neck cushion, which stops the child from
                            slumping while asleep. This prevents the child’s head from leaving the protection
                            zone.
                        </p>
                        <h4>The Rigid LATCH connectors are impossible or very difficult to release from the
                            anchorage points in the vehicle. What can I do?</h4>

                        <p>
                            The Rigid LATCH Connect connectors may be more difficult to release from the anchorage
                            points if the Rigid LATCH connectors were installed in the car under tension. To
                            alleviate
                            the problem, increase the distance between the seat of the child seat and the rear
                            car seat by moving the Rigid LATCH lever and pulling the child seat away from the
                            back
                            seat. In doing so, you will release the tension from the system.
                        </p>
                        <h4>Can I use my booster seat without the backrest?</h4>
                        <p>
                            No, this booster seat shall NEVER be used without the backrest. The backrest is
                            the part of the booster seat that primarily offer protection in the event of a side
                            impact crash. If used without the backrest, the risk for head injury increases at
                            least THREE TIMES! Please don’t give in to your child wanting to ride without the
                            backrest, it’s his/her safety that is at risk.
                        </p>
                        <h4>When can I move my child from the booster seat to use the regular vehicle seat belt?
                        </h4>
                        <p>
                            Requirements for car seat use vary depending on the state or you live in.
                            CYBEX recommends that you, at the minimum, follow the laws of your state.
                            For car seat best practices, follow the recommendations of Safe Kids, <a href="http://www.safekids.org/safety-basics/little-kids/on-the-way/car-seats-and-booster-seats.html"
                                target="_blank">found here</a>.
                        </p>
                        <h4>Does the Solution X-fix have an expiration date?</h4>
                        <p>
                            CYBEX recommends that the use a car seat be discontinued 7 years from the manufacturing
                            date.
                            The “Do not use after” date is available on a label on the bottom of the booster
                            base.  There are a number of reasons for this expiration date:
                            <ul class="default">
                                <li>Technology continues to evolve</li>
                                <li>The components of the car seat, especially certain plastics degrade over time
                                </li>
                                <li>Labels or instructions may no longer be available or legible</li>
                            </ul>
                            When a car seat reaches its expiration date, CYBEX recommends that the seat be destroyed
                            and disposed in a responsible way. Check with your local recycling agency about
                            proper recycling of car seats.
                            
                        </p>
                        <h4>What is Linear Side Impact Protection?</h4>
                        <p>
                            Linear Side-Impact Protection is responsible for protecting the head and the shoulders
                            by systematically absorbing
                            the energy in a linear chain reaction in the event of a side impact crash.  The
                            outer protective layer, together with the inner structural skeleton and the extra
                            thick energy absorbing EPS foam, will all work in a maximal combination to absorb
                            energy and distribute crash forces.  The extra deep side wings and the adjustable
                            headrest, are designed to keep your child’s head and upper torso in the safety zone
                            of the booster seat.
                        </p>
                        <h4>Where is the Owner’s Manual stored?</h4>
                        <p>
                            The Owner’s Manual can be stored in a pocket in the fabric on the back of the backrest.
                        </p>
                        <h4>Can I let my child buckle themselves in?</h4>
                        <p>
                            Parents should NEVER let children secure their own seat belt.  A booster seat is
                            only effective if it is installed correctly and the child is sitting upright (not
                            slouching) and is properly secured with the vehicle seat belt lying flat and snugly
                            across the mid point of the child’s chest and across the center of the shoulder,
                            while sitting low and snug on the child’s upper thighs.
                        </p>
                        <h4>Can I use my Booster seat in a rear facing or a sideway facing vehicle seat?
                        </h4>
                        <p>
                            No, the only recommended seat in a vehicle is a rear seat with a three point lap
                            and shoulder seat belt.
                        </p>
                        <h4>Can I continue using my booster seat if it has been in an accident?</h4>
                        <p>
                            No, CYBEX always strongly recommend that the booster seat be replaced after an accident.
                            Please call Customer Care at 800-593-5522 for more details.
                        </p>
                        <h4>How do I know if I have LATCH in my car?
                        </h4>
                        <p>
                            LATCH (Lower Anchors and Tethers for Children) refers to a pair of fixed lower anchors
                            built into the crease between the seat back and the seat cushion.  If not readily
                            visible, the lower LATCH anchors may be noted a symbol located near the crease between
                            the seat back and the seat cushion.  Consult your vehicle’s owner’s manual for more
                            information.
                        </p>

                        <h4>I don’t have lower LATCH anchors in my car. Can I have them installed?</h4>

                        <p>No, it’s usually not possible to retrofit a vehicle with lower anchors.</p>

                        <h4>I don’t have lower LATCH anchors in my car, can I still use this product?</h4>

                        <p>
                            Yes, the Rigid LATCH connectors can be stored in the base and the Booster seat can
                            be
                            installed using the vehicle three point lap and shoulder belt.
                        </p>

                        <h4>I have an older vehicle that is equipped with a lap belt only in the center position.
                            Can I still install my booster seat in that position?</h4>

                        <p>
                            No, NEVER install a booster seat with a lap belt only. A booster seat MUST be installed
                            in
                            a seating position with a three point lap and shoulder belt.
                        </p>
                        @*<h4>What are the differences between rigid LATCH and flexible LATCH?</h4>
                        <p>
                            booster seat with rigid LATCH attaches to the vehicle’s lower LATCH anchors through
                            a fixed or rigid system that makes the seat a part of the frame of the vehicle.
                            A booster seat with flexible LATCH, attaches to the lower LATCH anchors via a flexible
                            webbing and you have to pull on the straps to tighten it.
                        </p>*@
                        <h4>What are the advantages of installing with rigid LATCH?</h4>
                        <ul class="default">
                            <li>It makes the installation easier and reduces the risk for misuse</li>
                            <li>The booster is more stable which improves the ride for the child</li>
                            <li>The rigid installation improves the protection in a crash, especially in a side
                                impact crash</li>
                            <li>The booster seat remains in the proper position when the child enters and exits
                                the vehicle.</li>
                        </ul>
                        <h4>Is a latched booster seat safer than an unlatched booster seat?</h4>

                        <p>
                            An unlatched booster seat must meet the same safety standards as a latched booster
                            seat. The Solution X-fix meets all applicable federal motor vehicle safety standards
                            and is safe to be used both unlatched or latched, providing that the booster seat
                            is installed properly and the  instructions in the Owner’s Manual has been followed.
                        </p>
                        <h4>My vehicle Owner’s Manual states that the middle seat of the rear seat is the safest
                            position to secure your child. The middle seat in my vehicle doesn’t have LATCH.
                            Which position should
                            I use?</h4>

                        <p>
                            All children under 13 years of age always ride in the back seat.  The Solution X-fix
                            can be used with or without the LATCH. The best placement of a child restraint is one where it can
                        be installed properly and  securely, whether that is in the left, right or center
                        position. This position MUST have a three point lap and shoulder belt.  This
                        booster seat shall NEVER be installed using a lap belt only.
                        </p>


                        <h4>Can I use the Solution X-fix on an airplane?</h4>

                        <p>No, a booster seat is not approved for use on an airplane as booster seats must be
                            used with lap and shoulder belt.</p>

                        <h4>Where can I purchase replacement fabric covers for my Solution X-fix?</h4>

                        <p>
                            If you need to replace your fabric cover on the Solution X-fix, please contact Regal
                            Lager Customer Care at 1-800-593-5522.
                        </p>
                    </div>
                </div>
            <h2 class="faqsubhead">Carriers</h2>
                 <div style="padding-left: 20px;">
                 </div>
        </div>
        </div>
    </section>
    <section id="acc3">
        <h2><a href="#acc3">D&eacute;kor&reg; Diaper Disposal</a></h2>
        <div class="page">
            <div style="padding-left: 10px;">
                <h4>1. Which refills do I need for my pail?</h4>
                <p>
                    To purchase the correct size refill you first need to know which size pail you have.
                    There are three sizes: Classic, Plus, and XL. To determine which size D&eacute;kor
                    you have, check the label affixed to the inside of your pail's front service door.
                    After you determine what size pail you have, purchase the corresponding refill for
                    your pail. Go here for more.
                </p>
                <h4>2. I have an previous model of the D&eacute;kor pail. Will the refills still work?
                </h4>
                <p>
                    Yes, each refill size is backwards compatible with the previous pail of that size.
                    In other words, all Plus size refills will work with ALL Plus sized pails, etc.
                </p>
                <h4>3. My D&eacute;kor is broken or does not work properly.</h4>
                <p>
                    Some parts on the D&eacute;kor are replaceable, such as the trap doors. Please contact
                    Customer Care and tell us more about the problem you are having.
                </p>
                <h4>4. Is my product covered under warranty?</h4>
                <p>
                    All D&eacute;kor pails are covered by a six month limited warranty covering manufacture
                    defects. If your product suffers from a defect covered under warranty contact us
                    for repair or replacement. Warranties are valid from original date of purchase,
                    non-transferrable, and covers the product under normal use and conditions. Misuse
                    and normal wear and tear is not covered. Products purchased from non-authorized
                    dealers, such as e-Bay&reg;, are not covered under warranty.
                </p>
                <h4>5. How do I change the refill on my D&eacute;kor? </h4>
                <p>
                    It's easy to install a new refill. Click here for more information on replacing
                    a refill.
                </p>
                <h4>6. Can I use D&eacute;kor with cloth diapers?</h4>
                <p>
                    D&eacute;kor will work perfectly fine as a hamper for your cloth diapers. Simply
                    cut the bag and take them to the laundry room.
                </p>
                <h4>7. How many diapers will my pail actually hold?</h4>
                <p>
                    Typically, the D&eacute;kor Classic will hold up to 40 newborn diapers,
                    while the D&eacute;kor Plus will hold up to 60 newborn diapers before
                    it is full and needs to be emptied. The number on the outside of the refill boxes
                    refers to the total number of diapers that can be used with both refills. The number
                    is based on newborn diapers and will vary for each person.
                </p>
                <h4>8. Do I have to wait until my pail is full to empty?</h4>
                <p>
                    You may choose to empty your pail as often as needed to suite your needs, after
                    each change or when the pail is filled to capacity. Of course, emptying more often
                    will decrease the potential for odor to build up in your pail.
                </p>
                <h4>9. What should I use to clean my D&eacute;kor? </h4>
                <p>
                    Frequently wipe down the Diaper D&eacute;kor with a non-abrasive household cleaner.
                    You may also clean the pail with bleach to disinfect as it will not harm the ABS
                    plastic.
                </p>
                <h4>10. How do I convert the D&eacute;kor from a diaper disposal system to a trash can?
                </h4>
                <p>
                    You simply remove the "diaper insert". Click here for more information.
                </p>
                <h4>11. What makes D&eacute;kor better than other diaper disposal systems? </h4>
                <p>
                    The D&eacute;kor is the easiest diaper disposal system to use; emptying the pail
                    and reloading the refills is a snap. It has great styling, and its seals do a great
                    job in keeping odor in the pail and out of your nursery. Also, the D&eacute;kor's
                    efficient use of refills saves you money as the cost per diaper is less than other
                    systems using refills. Finally, while all other diaper pails are useless after you
                    are done with diapers diapers, the D&eacute;kor converts into a trash can that can
                    be used long after diaper days are over.
                </p>
            </div>
        </div>
    </section>
    <section id="acc4">
        <h2><a href="#acc4">Lascal&reg; Stroller Boards and Gates</a></h2>
        <div class="page">
            <div style="padding-left: 10px;">
                <h3>BuggyBoard Maxi</h3>
                <div style="padding-left: 20px;">
                    <h4>Will the BuggyBoard fit my Stroller?</h4>
                    <p>This content appears on page 4.</p>
                </div>
                <h3>BuggyBoard Mini</h3>
                <div style="padding-left: 20px;">
                    <h4>Will the BuggyBoard fit my Stroller?</h4>
                    <p>This content appears on page 4.</p>
                </div>
                <h3>KiddyGuard Avant</h3>
                <div style="padding-left: 20px;">
                    <h4>Will the BuggyBoard fit my Stroller?</h4>
                    <p>This content appears on page 4.</p>
                </div>
            </div>
        </div>
    </section>
    <section id="acc5">
        <h2><a href="#acc5">My Carry Potty</a></h2>
        <div class="page">
            <div style="padding-left: 10px;">
                <h4>1. What is My Carry Potty made of?</h4>
                <p>
                    My Carry Potty is made from high quality, durable plastic that's easy on the eye
                    and easy to keep clean.
                </p>
                <h4>2. Why is it smarter for potty training?</h4>
                <p>
                    Kids really like the bright primary colors, and the carry handle makes My Carry
                    Potty easy for them to adopt as their own. Not only is it perfect for when you are
                    out
                    and about, on vacation, or long journeys it's also ideal
                    for home and even nursery, especially if your child only feels happy with his or
                    her own potty.
                </p>
                <h4>3. Is it easy to use?</h4>
                <p>
                    Unlike other travel potty products My Carry Potty is assembly free and ready-to-go.
                    With no need for a separate carrier case or disposable bags, it saves time and money
                    and is better for the environment.
                </p>
                <h4>Does the My Carry Potty leak?</h4>
                <p>
                    My Carry Potty is fitted with an ingenious rubber seal and clip shut lid that provides
                    a completely leak and odor-proof container, so wherever your little one is caught
                    short you can be in total control.
                </p>
            </div>
        </div>
    </section>
</article>
