@{
    ViewBag.SubTitle = "Frequently Asked Questions";
            
}
<hgroup class="title">
    <h1>FAQs</h1>
</hgroup>
<article class="accordion">
    <p>
        Please browse the FAQ section for answers to the most commonly asked questions about
        our products. If you are unable to find the answer that you are looking for, please
        contact our Customer Care Department at 800-593-5522.
    </p>
    <section id="acc1">
        <div class="page">
            <div style="padding-left: 10px;">
                <h3>Bambino Mio&reg; Cloth Diapers</h3>
       
           
                <h4>product questions</h4>
            
                    @*<span class="paragraph1"><a target="_self" title="why Bambino Mio"
                      
                        <a target="_self" title="why a liner" mce_href="/usa/nappy-system/faq#02" href="/usa/nappy-system/faq#02">
                            why is a biodegradable nappy liner (mioliner) used?</a><br>
                        <a href="/usa/nappy-system/faq#03" mce_href="/usa/nappy-system/faq#03">are Bambino Mio
                            reusable nappies easy to use?</a><br>
                        <a href="/usa/nappy-system/faq#04" mce_href="/usa/nappy-system/faq#04">how many nappies
                            do I need?</a><br>
                        <a href="/usa/nappy-system/faq#05" mce_href="/usa/nappy-system/faq#05">will my child
                            suffer from nappy rash because of using these nappies?</a><br>
                        <a mce_href="/usa/nappy-system/faq#06" href="/usa/nappy-system/faq#06">will the reusable
                            nappies leak?</a><br>
                        <a href="/usa/nappy-system/faq#07" mce_href="/usa/nappy-system/faq#07">are the nappies
                            bulky?</a><br>
                        <a href="/usa/nappy-system/faq#08" mce_href="/usa/nappy-system/faq#08">how often will
                            I need to change Bambino Mio nappies?</a></span>*@
              
                <h2>Why choose Bambino Mio for your baby?</h2>
                <p class="subheading1">
                    <br>
                </p>
               
                        <p>
                            Bambino
 Mio were one of the first companies to start the reusable nappy revolution 15 years ago and today manufacture
                            a range of 
nappies and accessories to ensure when parents choose to reuse it is as 
simple and easy to do as disposables.
                        </p>
                    </li>
                    <li>
                        <p>
                            Bambino Mio have two different systems
                        </p>
                    </li>
                </ul>
                <blockquote>
                    <blockquote>
                        <blockquote>
                            <blockquote>
                                <blockquote style="padding-left: 60px;" mce_style="padding-left: 60px;">
                                    <ul>
                                        <li>
                                            <p>
                                                the two-piece
which benefits from a 100% cotton nappy which can be folded to suit the
individual requirements of your baby
                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                and the miosolo a one-size* all-in-one
nappy which is the simplest nappy to put on baby for the ultimate convenience.
                                            </p>
                                        </li>
                                    </ul>
                                </blockquote>
                            </blockquote>
                        </blockquote>
                    </blockquote>
                </blockquote>
                <ul>
                    <li>
                        <p>
                            Bambino Mio cloth nappies are slim fitting at the hips, they allow your baby more
                            freedom of movement.
                        </p>
                    </li>
                </ul>
                <ul>
                    <li>
                        <p>
                            The nappy covers have Velcro® tabs and the miosolo have Velcro® style tabs making
                            them 
convenient, simple to use, and easy to adjust to the shape of your baby.
                        </p>
                    </li>
                </ul>
                <ul>
                    <li>
                        <p>
                            When laundering, our nappies wash and dry very efficiently providing you with a
                            fast
                            turnaround.
                        </p>
                    </li>
                </ul>
                <p class="subheading1">
                    <span class="paragraph1">
                        <br>
                    </span>
                </p>
                <p>
                    <a href="/usa/nappy-system/faq#top" mce_href="/usa/nappy-system/faq#top">Back to
                    top</a><br mce_bogus="1">
                </p>
                <p class="subheading1">
                    <br>
                </p>
                <h2><span class="subheading1"><a name="02" class="mceItemAnchor"></a>why is a mioliner
                    (nappy liner) used?</span></h2>
                <h2><span class="subheading1"></span></h2>
                <p class="subheading1">
                    <span class="paragraph1">Our
 nappy liners retain solids to help prevent soiling of the nappy and 
also reduce moisture seeping back onto baby's skin. Soiled nappy liners 
can simply be removed from a nappy and flushed away*. Wet liners should 
be placed in a bin or can be composted.</span>
                </p>
                <p class="subheading1">
                    <span class="subheading1"><span class="paragraph1">
                        <br>
                    </span></span>
                </p>
                <p class="subheading1">
                    <span class="subheading1"><span class="paragraph1">*Caution:
 the flushing of liners may cause blockages in old or damaged drains. No
 responsibility can be accepted for individual drain systems.<br>
                        <br>
                    </span></span><a href="/usa/nappy-system/faq#top">Back to top</a><span class="subheading1"><span
                        class="paragraph1"><br>
                    </span>
                        <br>
                    </span>
                </p>
                <h2><span class="subheading1"><a name="03" class="mceItemAnchor"></a>are Bambino Mio
                    reusable nappies easy to use?</span></h2>
                <p class="subheading1">
                    <span class="paragraph1">Our

 two-piece reusable nappy is designed to be quick and easy to use. 
Simply place a cotton nappy into a nappy cover, then place the complete 
nappy and cover (nappy wrap) onto baby like you would a disposable and fasten the 
Velcro® fasteners around your baby’s tummy.&nbsp; If you are using our 
miosolo you do not need to use a separate nappy as the miosolo is an 
all-in-one nappy for the ultimate convenience.<br>
                        <br>
                        Reusable nappies no longer need to be soaked. Real nappies can be dry stored in
                        a nappy bucket. Please refer to our <a href="/usa/nappy-system/user-guide" mce_href="/usa/nappy-system/user-guide">
                            User Guide</a> for further guidance and tips.</span>
                    <br>
                    <br>
                </p>
                <p><a href="/usa/nappy-system/faq#top">Back to top</a></p>
                <p class="subheading1">
                    <br>
                </p>
                <h2><span class="subheading1"><a name="04" class="mceItemAnchor"></a>how many nappies
                    do I need?</span></h2>
                <p class="subheading1">
                    <span class="paragraph1">The
 number of cloth nappies you need will depend on how often you are going
 to wash the nappies and depending on your lifestyle. </span>
                </p>
                <p class="paragraph1">
                    When using Bambino Mio reusable nappies full time we recommend:<br>
                </p>
                <p class="paragraph1">
                    <br>
                </p>
                <p><b>two-piece </b></p>
                <ul>
                    <li>
                        <p>24 x mionappies (nappies) of one size (size 1 and 2 available) </p>
                    </li>
                </ul>
                <ul>
                    <li>
                        <p>3-6 x miosoft (nappy covers) of one size</p>
                    </li>
                </ul>
                <p><b>miosolo</b></p>
                <ul>
                    <li>
                        <p>20 x miosolo (all-in-one nappy)</p>
                    </li>
                </ul>
                <p>
                    <b>you will also need:</b><br>
                </p>
                <p class="paragraph1">
                    - mioliners (nappy liners)<br>
                    - miofresh (nappy sanitiser)<br>
                    - A nappy bucket and a laundry bags are useful, but not essential.
                </p>
                <p class="paragraph1">
                    <br>
                </p>
                <p class="paragraph1">
                    <span style="color: rgb(124, 132, 187);" mce_style="color: #7c84bb;"><span class="paragraph1">
                        Please
 note that all parents and babies needs are different and you may need 
more or less nappies and covers depending on your circumstances. It is 
important that you have enough nappies and covers so that you do not run
 out, washing small quantities of nappies is not cost effective for you.</span>
                        <br>
                        <br>
                    </span>
                </p>
                <p><a href="/usa/nappy-system/faq#top">Back to top</a></p>
                <p class="paragraph1">
                    <br>
                </p>
                <h2><a name="05" class="mceItemAnchor"></a><span class="subheading1">will my child suffer
                    from nappy rash as a result of using these nappies?</span></h2>
                <p class="paragraph1">
                    Studies*
 have shown that your child is five times more likely to suffer from 
nappy rash if you use disposable nappies rather than cotton nappies. 
This is because many disposables feel dry when in fact the nappy is wet.
 Nappy rash can be caused by a number of things such as 
illness/diarrhoea, teething, food allergies/new types of food, baby 
wipes/creams, nappy changing procedure and residual particles of regular
 washing powder in nappies.
                </p>
                <p class="paragraph1">
                    (*Source: Br J Gen Pract 1997 Aug:47 (421):493-7 Getting to the
                    bottom of nappy rash. University of Bristol)<br>
                    <br>
                </p>
                <p><a href="/usa/nappy-system/faq#top">Back to top</a></p>
                <p class="paragraph1">
                    <br>
                </p>
                <h2><span class="subheading1"><a name="06" class="mceItemAnchor"></a>will the reusable
                    nappies leak?</span></h2>
                <p class="paragraph1">
                    Both
 of our nappy systems have been designed for maximum absorbency with 
minimum bulk.&nbsp; Both cotton and microfibre are highly absorbent fabrics 
ideal for nappies.&nbsp; Our mionappies (two-piece system) are made from 100%
 cotton, a natural, breathable fabric, where as the miosolo nappy has a highly 
absorbent has a super absorbent microfibre core and a stay dry inner layer to keep baby comfortable
                    and dry.
                </p>
                <p class="paragraph1">
                    <br>
                    Both
 the miosoft nappy cover (two-piece) and the miosolo benefit from 
elasticated legs and waistband to ensure a snug, comfortable fit which 
prevents leakage and Velcro® tabs to provide a perfect fit for all
 shapes and sizes.&nbsp;
                </p>
                <p class="paragraph1">
                    <br>
                    (two-piece only) It is 
important to use the correct size cover for your baby and use the most 
appropriate nappy fold to minimise the possibility of leakage. Details 
on how to choose the right size of real nappy or using the most 
efficient nappy fold can be found in the <a href="/usa/nappy-system/user-guide" mce_href="/usa/nappy-system/user-guide">
    User Guide</a>.<br>
                    <br>
                </p>
                <p><a href="/usa/nappy-system/faq#top">Back to top</a></p>
                <p class="paragraph1">
                    <br>
                </p>
                <h2><span class="subheading1"><a name="07" class="mceItemAnchor"></a>are the nappies
                    bulky?</span></h2>
                <p class="paragraph1">
                    Bambino
 Mio reusable nappies are less bulky than terry nappies and slightly 
more bulky than disposables. However, when a disposable nappy is wet it 
will swell up more, due to the absorbency of the moisture retaining 
chemicals inside, unlike reusable nappies.<br>
                    <br>
                </p>
                <p><a href="/usa/nappy-system/faq#top">Back to top</a></p>
                <p class="paragraph1">
                    <br>
                </p>
                <h2><span class="subheading1"><a name="08" class="mceItemAnchor"></a>how often will
                    I need to change Bambino Mio nappies?</span></h2>
                <p class="paragraph1">
                    A
 Bambino Mio nappy will need to be changed every 2-4 hours but it really
 depends on how often your baby wets. Reusable nappy users prefer to 
change their baby more frequently whereas there is a temptation for 
disposable nappy users to leave for longer periods between changes 
because their baby does not feel wet.<br>
        </ul>
    </section>
    <section id="acc2">
        <h2><a href="#acc2">Cybex&reg; Strollers, Car Seats, and Carriers</a></h2>
        <ul class="default">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </section>
    <section id="acc3">
        <h2><a href="#acc3">D&eacute;kor&reg; Diaper Disposal</a></h2>
        <div class="page">
            <div style="padding-left: 10px;">
                <h3>1. Which refills do I need for my pail?</h3>
                <p>
                    To purchase the correct size refill you first need to know which size pail you have.
                    There are three sizes: Classic, Plus, and XL.
                    To determine which size D&eacute;kor you have, check the label affixed to the inside
                    of your pail's front service door. After you determine what size pail you have,
                    purchase the corresponding refill for your pail. Go here for more.
                </p>
                <h3>2. I have an previous model of the D&eacute;kor pail. Will the refills still work?
                </h3>
                <p>
                    Yes, each refill size is backwards compatible with the previous pail of that size.
                    In other words, all Plus size refills will work with ALL Plus sized pails, etc.
                </p>
                <h3>3. My D&eacute;kor is broken or does not work properly.</h3>
                <p>
                    Some parts on the D&eacute;kor are replaceable, such as the trap doors. Please contact
                    Customer Care and tell us more about the problem you are having.
                </p>
                <h3>4. Is my product covered under warranty?</h3>
                <p>
                    All D&eacute;kor pails are covered by a six month limited warranty covering manufacture
                    defects. If your product suffers from a defect covered under warranty contact us
                    for repair or replacement. Warranties are valid from original date of purchase,
                    non-transferrable, and covers the product under normal use and conditions. Misuse
                    and normal wear and tear is not covered. Products purchased from non-authorized
                    dealers, such as e-Bay&reg;, are not covered under warranty.
                </p>
                <h3>5. How do I change the refill on my D&eacute;kor? </h3>
                <p>
                    It's easy to install a new refill. Click here for more information on replacing
                    a refill.
                </p>
                <h4>6. Can I use D&eacute;kor with cloth diapers?</h4>
                <p>
                    D&eacute;kor will work perfectly fine as a hamper for your cloth diapers. Simply
                    cut the bag and take them to the laundry room.
                </p>
                <h3>7. How many diapers will my pail actually hold?</h3>
                <p>
                    Typically, the D&eacute;kor Classic will hold up to 40 newborn diapers,
                    while the D&eacute;kor Plus will hold up to 60 newborn diapers before
                    it is full and needs to be emptied. The number on the outside of the refill boxes
                    refers to the total number of diapers that can be used with both refills. The number
                    is based on newborn diapers and will vary for each person.
                </p>
                <h3>8. Do I have to wait until my pail is full to empty?</h3>
                <p>
                    You may choose to empty your pail as often as needed to suite your needs, after
                    each change or when the pail is filled to capacity. Of course, emptying more often
                    will decrease the potential for odor to build up in your pail.
                </p>
                <h3>9. What should I use to clean my D&eacute;kor? </h3>
                <p>
                    Frequently wipe down the Diaper D&eacute;kor with a non-abrasive household cleaner.
                    You may also clean the pail with bleach to disinfect as it will not harm the ABS
                    plastic.
                </p>
                <h3>10. How do I convert the D&eacute;kor from a diaper disposal system to a trash can?
                </h3>
                <p>
                    You simply remove the "diaper insert". Click here for more information.
                </p>
                <h3>11. What makes D&eacute;kor better than other diaper disposal systems? </h3>
                <p>
                    The D&eacute;kor is the easiest diaper disposal system to use; emptying the pail
                    and reloading the refills is a snap. It has great styling, and its seals do a great
                    job in keeping odor in the pail and out of your nursery. Also, the D&eacute;kor's
                    efficient use of refills saves you money as the cost per diaper is less than other
                    systems using refills. Finally, while all other diaper pails are useless after you
                    are done with diapers diapers, the D&eacute;kor converts into a trash can that can
                    be used long after diaper days are over.
                </p>
            </div>
        </div>
    </section>
    <section id="acc4">
        <h2><a href="#acc4">Lascal&reg; Stroller Boards and Gates</a></h2>
        <p>This content appears on page 4.</p>
    </section>
    <section id="acc5">
        <h2><a href="#acc5">My Carry Potty</a></h2>
        <ul class="default">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </section>
</article>
