@{
    ViewBag.SubTitle = "Customer Care";
    ViewBag.Message = "How Can We Help You?";
            
}
<hgroup class="title">
    <h1>@ViewBag.SubTitle</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>
<article>
    <header>
        <p>
            Do you need product information, having a problem with a product, or need to return
            a product? Our Customer Care Department is ready to assist you with any questions
            or concerns you have.
        </p>
        <p>
            <strong>Call us Toll Free at <span class="yellow">1-800-593-5522
            </span></strong>
        </p>
    </header>
    <hr />
    <h2>E-mail Us:</h2>
    <p>
        @Html.ActionLink("Send us an e-mail", "Consumer", "Email") and our Customer Care team will respond to you within one business
        day. The form will also allow you to attach an image to help with your question.
    </p>
   <hr />
    <h2>Our Hours:</h2>
    <p>
        <strong>Monday&ndash;Friday</strong><span>&nbsp;8:30 am&ndash;5:30 pm (EST) </span>
        <br />
        <strong>Saturday&ndash;Sunday</strong><span>&nbsp;Voicemail Only</span>
        <br />
    Closed on all major holidays.</p>
    <hr />
    <h2>Frequently Asked Questions</h2>
    <p>
        Please browse through the @Html.ActionLink("Frequently Asked Questions", "Faqs", "Support")
        for an answer to commonly asked questions about our products.
    </p>
</article>
<aside id="aside">
    <img src="../Images/rl-customercare.png" alt="Contact Us" class="drop-shadow" />
</aside>
