@{
    ViewBag.SubTitle = "Get Great Support";
    ViewBag.Message = "How Can We Help You?";
            
}
<hgroup class="title">
    <h1>@ViewBag.SubTitle</h1>
    <h5>@ViewBag.Message</h5>
</hgroup>
<article>
    <section>
        <h2>Customer Care Department</h2>
        <p>
            Do you need product information, having a problem with a product, or need to return
            a product? Our Customer Care Department, staffed by real people, are ready to assist you with any questions
            or concerns you have.
        </p>
        <h3>Call us Toll Free at <span class="yellow">1-800-593-5522</span></h3>
        <p>Have a car seat question? No worries, we have nine Child Passenger Safety Technicians on staff to assist you.</p>
        
        <h3>Send Us an E-mail:</h3>
    <p>
        Our Customer Care team is waiting on your e-mail, and will respond to you within one business
        day, so @Html.ActionLink("send us an e-mail", "Consumer", "Email") now! The form will also allow you to attach an image to help with your question.
    </p>
    </section>
   <hr />
    <h2>Our Hours:</h2>
    <p>
        <strong>Monday&ndash;Friday</strong><span>&nbsp;8:30 am&ndash;5:30 pm (EST) </span>
        <br />
        <strong>Saturday&ndash;Sunday</strong><span>&nbsp;Voicemail Only</span>
        <br />
    Closed on all major holidays.</p>
    <hr />
    <h2>Frequently Asked Questions</h2>
    <p>
        Please browse through the @Html.ActionLink("Frequently Asked Questions", "Faqs", "Support")
        for an answer to commonly asked questions about our products.
    </p>
</article>
<aside id="aside">
    <img src="../Images/rl-customercare.png" alt="Contact Us" class="drop-shadow" />
</aside>
