@{
    ViewBag.SubTitle = "Product Safety Testing";
    ViewBag.Message = "Keeping Kids Safe"; 
          
}
<hgroup class="title">
    <h1>@ViewBag.SubTitle</h1>
    <h5>@ViewBag.Message</h5>
</hgroup>
<article>
    <section>
        <h2>Consumer Product Safety Commission</h2>
        <p>
            All products designed or intended primarily for children 12 years of age or younger
            must meet the Consumer Product Safety Improvement Act (CPSIA) Guidelines. Below
            is a lising of the CPSIA testing status for our products:
        </p>
        <ul class="default">
            <li>Bambino Mio&trade;: <strong>Exempt</strong></li>
            <li>Cybex&trade; Callisto, Topaz, Onyx and Ruby Strollers: <strong class="white">Certified</strong>
            </li>
            <li>Cybex&trade; Footmuff: <strong class="white">Certified</strong></li>
            <li>Dèkor&reg; Diaper Disposal Systems and Refills: <strong class="white">Exempt</strong></li>
            <li>Lascal&reg; Stroller Boards and Safety Gates: <strong class="white">Exempt</strong></li>
            <li>My Carry Potty&trade;: <strong class="white">Exempt</strong></li>
        </ul>
        <hr />
        <h2>Child Restraints</h2>
        <p>
            All Child Restraints sold in the United States are required to meet the following
            safety standards as set forth by the National Highway Traffic and Safety Commission
            (NHTSA):
        </p>
        <ul class="default">
            <li>FMVSS 213 (Federal Motor Vehicle Safety Standards for Child Restraint Systems)
            </li>
            <li>FMVSS 302 (Federal Motor Vehicle Safety Standards for Flammability of Interior Materials)
            </li>
        </ul>
        <h3>Fire Retardants</h3><p>
            CYBEX car seats meet the necessary flammability standards without the use of Brominated
            or Chlorinated Fire Retardants. CYBEX child restraints contain no PBDEs, Antimony,
            Phtalates, Lead, BPA, or Dimethyl Sulfate.
        </p><hr />
        <h2>Safety Standards</h2>
        <p>
            Our products are also independently safety tested as stated below:
        </p>
        <ul class="default">
            <li>Cybex&reg; Aton Infant Car Seat: ASTM F833-08</li>
            <li>Cybex&reg; Callisto, Topaz, Onyx and Ruby: ASTM F833-08, and Canada SOR/85-379</li>
            <li>Cybex&reg; Solution X-fix High Back Booster: FMVSS 213</li>
            <li>Lascal&reg; BuggyBoard-Maxi™ and Basic™: EN 1888:2003, EN 1888/A2:2005</li>
            <li>Lascal&reg; M1 Carrier™: ASTM F 2236-03, part 2 and EN13209-2:2005 </li>
            <li>KiddyGuard&trade; Avant: ASTMF 1004-00, and EN 1930:2000</li>
        </ul>
        <hr />
        <h2>Juvenile Products Manufactures Association</h2>
        <p>
            The following products are also certified by the <a href="http://www.jpma.org">JPMA</a>
        </p>
        <ul class="default">
            <li>Lascal&reg; KiddyGuard Avant</li>
            <li>Cybex&reg; Callisto, Onyx, and Ruby</li>
        </ul>
    </section>
</article>
<aside>
    <img src="../images/rl-safetytesting.png" alt="Product Safety Testing" />
</aside>
