@{
    ViewBag.SubTitle = "Warranty and Returns";}
<hgroup class="title">
    <h1>@ViewBag.SubTitle</h1>
</hgroup>
<article>
    <p>
        We stand by our products and want to help you with any problems. All our products
        are warrantied against defects in material or workmanship from the date of original
        purchase. If your product suffers from a defect covered under warranty, you can
        return it to us for repair replacement. Proof of purchase is required for warranty
        items. Please contact a Customer Care Specialist to assist you. We reserve the right
        to discontinue or change models, makes, fabrics, colors, etc. and to make substitutions.
        We guarantee our products to be free of defects in materials and workmanship for:
    </p>
    <p>
        Bambino Mio&reg;*:<strong> Three months</strong>
    </p>
    <p>
        Cybex&reg;:<strong> Two Years</strong>
    </p>
    <p>
        Dekor&reg;*:<strong> Six months</strong>
    </p>
    <p>
        Lascal&reg;:<strong> One year</strong>
    </p>
    <p>
        My Carry Potty&reg;*:<strong> One year</strong>
    </p>
    <h2>Warranty Limitations</h2>
    <p>
        Warranties for new products are valid from original date of purchase and are non-transferable.
        Our limited warranties cover products under normal use and do not cover misuse,
        normal wear and tear, or the use of unapproved accessories. In order for a product
        to be covered under warranty it must be purchased new from an authorized Regal Lager
        dealer. Replaced or Repaired Products are covered under the original warranty only,
        valid from original date of purchase.
    </p>
    <h3>Child Restraints</h3>
    <p>
        Use of any unapproved accessories, add-ons, inserts, or tightening devices AUTOMATICALLY
        VOIDS the product warranty of CYBEX child restraints and could cause the product
        to not perform correctly in a crash.
    </p>
    <p>
        Regal Lager, or a retailer selling our products, will in no event be responsible
        for damages arising from the use or inability to use our products.
    </p>
    <h2>Authorized Dealers:</h2>
    <p>
        Please visit your local authorized retailer for help with your purchase. A list
        of authorized retailers is found on this website. Not all products and models are
        available at all retailers. Only a Regal Lager Authorized Dealers may sell Regal
        Lager products on the Internet. Sales outside the United States are prohibited,
        except for Cybex, Dekor, and Lascal, which may be sold in Canada through Authorized
        Dealers.
    </p>
    <p>
        Purchase of any Regal Lager brands from an unauthorized dealer, online auction,
        or second hand, are not covered under warranty.
    </p>
    <h2>Return Policy</h2>
    <p>
        Regal Lager, Inc. will only receive products that have a valid Return Authorization
        (RMA) Number. Returns and repairs are subject to Regal Lager approval, whose sole
        discretion will determine the extent of the warranty coverage and will repair or
        replace with a comparable product as necessary. If the product is found to be defective
        under Warranty, shipping charges will be covered by Regal Lager, otherwise all shipping
        charges will be the responsibility of the customer.
    </p>
    <h3>Child Restraints</h3>
    <p>
        Child Restraints returned to Regal Lager that are not covered by Warranty will be
        destroyed.
    </p>
    <h3 class="yellow">
        Bambino Mio®, Dekor®, and My Carry Potty® products cannot be returned if used. Please
        contact our Customer Care Department for more assistance.
    </h3>
</article>
<aside>
    <img src="../images/rl-warranty.png" alt="Regal Lager Warranty" class="drop-shadow" />
</aside>
