<?xml version="1.0" encoding="utf-8"?>
<!--

This file is used by the publish/package process of your Web project. You can customize the behavior of this process

by customizing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121.

-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <LaunchASiteUrlAfterPublish>False</LaunchASiteUrlAfterPublish>
    <SiteUrlToLaunchAfterPublish />
    <publishUrl>R:\</publishUrl>
    <DeleteExistingFiles>True</DeleteExistingFiles>
  </PropertyGroup>
  <ItemGroup>
    <File Include="App_Readme/Elmah.txt">
      <publishTime>05/25/2012 14:18:32</publishTime>
    </File>
    <File Include="bin/AjaxControlToolkit.dll">
      <publishTime>05/25/2012 14:22:48</publishTime>
    </File>
    <File Include="bin/AjaxControlToolkit.pdb">
      <publishTime>08/21/2008 11:13:18</publishTime>
    </File>
    <File Include="bin/Elmah.dll">
      <publishTime>05/25/2012 14:22:47</publishTime>
    </File>
    <File Include="bin/EntityFramework.dll">
      <publishTime>05/25/2012 14:22:47</publishTime>
    </File>
    <File Include="bin/EntityFramework.xml">
      <publishTime>05/22/2012 14:11:33</publishTime>
    </File>
    <File Include="bin/Microsoft.Web.Infrastructure.dll">
      <publishTime>05/25/2012 14:22:47</publishTime>
    </File>
    <File Include="bin/RegalLagerReports.dll">
      <publishTime>05/25/2012 14:22:47</publishTime>
    </File>
    <File Include="bin/RegalLagerReports.pdb">
      <publishTime>07/29/2011 16:00:25</publishTime>
    </File>
    <File Include="bin/System.Json.dll">
      <publishTime>05/25/2012 14:22:47</publishTime>
    </File>
    <File Include="bin/System.Json.xml">
      <publishTime>05/22/2012 14:11:34</publishTime>
    </File>
    <File Include="bin/System.Net.Http.dll">
      <publishTime>05/25/2012 14:22:47</publishTime>
    </File>
    <File Include="bin/System.Net.Http.Formatting.dll">
      <publishTime>05/25/2012 14:22:47</publishTime>
    </File>
    <File Include="bin/System.Net.Http.Formatting.xml">
      <publishTime>05/22/2012 14:11:34</publishTime>
    </File>
    <File Include="bin/System.Net.Http.WebRequest.dll">
      <publishTime>05/25/2012 14:22:47</publishTime>
    </File>
    <File Include="bin/System.Net.Http.WebRequest.xml">
      <publishTime>05/22/2012 14:11:34</publishTime>
    </File>
    <File Include="bin/System.Net.Http.xml">
      <publishTime>05/22/2012 14:11:34</publishTime>
    </File>
    <File Include="bin/System.Web.Helpers.dll">
      <publishTime>05/25/2012 14:22:47</publishTime>
    </File>
    <File Include="bin/System.Web.Helpers.xml">
      <publishTime>05/22/2012 14:11:33</publishTime>
    </File>
    <File Include="bin/System.Web.Http.Common.dll">
      <publishTime>05/25/2012 14:22:47</publishTime>
    </File>
    <File Include="bin/System.Web.Http.Common.xml">
      <publishTime>05/22/2012 14:11:34</publishTime>
    </File>
    <File Include="bin/System.Web.Http.dll">
      <publishTime>05/25/2012 14:22:47</publishTime>
    </File>
    <File Include="bin/System.Web.Http.WebHost.dll">
      <publishTime>05/25/2012 14:22:47</publishTime>
    </File>
    <File Include="bin/System.Web.Http.WebHost.xml">
      <publishTime>05/22/2012 14:11:33</publishTime>
    </File>
    <File Include="bin/System.Web.Http.xml">
      <publishTime>05/22/2012 14:11:33</publishTime>
    </File>
    <File Include="bin/System.Web.Mvc.dll">
      <publishTime>05/25/2012 14:22:47</publishTime>
    </File>
    <File Include="bin/System.Web.Mvc.xml">
      <publishTime>05/22/2012 14:11:33</publishTime>
    </File>
    <File Include="bin/System.Web.Optimization.dll">
      <publishTime>05/25/2012 14:22:47</publishTime>
    </File>
    <File Include="bin/System.Web.Providers.dll">
      <publishTime>05/25/2012 14:22:47</publishTime>
    </File>
    <File Include="bin/System.Web.Razor.dll">
      <publishTime>05/25/2012 14:22:47</publishTime>
    </File>
    <File Include="bin/System.Web.Razor.xml">
      <publishTime>05/22/2012 14:11:33</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Deployment.dll">
      <publishTime>05/25/2012 14:22:47</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Deployment.xml">
      <publishTime>05/22/2012 14:11:33</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.dll">
      <publishTime>05/25/2012 14:22:48</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Razor.dll">
      <publishTime>05/25/2012 14:22:48</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Razor.xml">
      <publishTime>05/22/2012 14:11:33</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.xml">
      <publishTime>05/22/2012 14:11:33</publishTime>
    </File>
    <File Include="bin/Telerik.Web.Mvc.dll">
      <publishTime>04/19/2012 14:39:24</publishTime>
    </File>
    <File Include="bin/Telerik.Web.Mvc.pdb">
      <publishTime>04/19/2012 14:39:24</publishTime>
    </File>
    <File Include="bin/Telerik.Web.Mvc.xml">
      <publishTime>04/19/2012 14:39:12</publishTime>
    </File>
    <File Include="bin/Telerik.Web.UI.dll">
      <publishTime>02/14/2012 09:27:16</publishTime>
    </File>
    <File Include="bin/Telerik.Web.UI.Skins.dll">
      <publishTime>02/14/2012 09:27:16</publishTime>
    </File>
    <File Include="bin/Telerik.Web.UI.xml">
      <publishTime>02/15/2012 09:26:34</publishTime>
    </File>
    <File Include="bin/Zeta.dll">
      <publishTime>06/05/2012 17:25:28</publishTime>
    </File>
    <File Include="bin/Zeta.pdb">
      <publishTime>06/05/2012 17:25:28</publishTime>
    </File>
    <File Include="Content/960_12_col.css">
      <publishTime>05/25/2012 14:18:32</publishTime>
    </File>
    <File Include="Content/core.css">
      <publishTime>05/25/2012 14:18:32</publishTime>
    </File>
    <File Include="Content/ie.css">
      <publishTime>05/25/2012 14:18:32</publishTime>
    </File>
    <File Include="Content/master.css">
      <publishTime>06/05/2012 16:48:03</publishTime>
    </File>
    <File Include="Content/nivo-slider.css">
      <publishTime>05/30/2012 15:01:29</publishTime>
    </File>
    <File Include="Content/reset.css">
      <publishTime>05/25/2012 14:18:32</publishTime>
    </File>
    <File Include="Content/Site.css">
      <publishTime>05/25/2012 14:18:32</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_flat_0_aaaaaa_40x100.png">
      <publishTime>05/22/2012 14:11:31</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_flat_75_ffffff_40x100.png">
      <publishTime>05/22/2012 14:11:31</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_55_fbf9ee_1x400.png">
      <publishTime>05/22/2012 14:11:31</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_65_ffffff_1x400.png">
      <publishTime>05/22/2012 14:11:31</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_75_dadada_1x400.png">
      <publishTime>05/22/2012 14:11:31</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_75_e6e6e6_1x400.png">
      <publishTime>05/22/2012 14:11:31</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_95_fef1ec_1x400.png">
      <publishTime>05/22/2012 14:11:31</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_highlight-soft_75_cccccc_1x100.png">
      <publishTime>05/22/2012 14:11:31</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_222222_256x240.png">
      <publishTime>05/22/2012 14:11:31</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_2e83ff_256x240.png">
      <publishTime>05/22/2012 14:11:31</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_454545_256x240.png">
      <publishTime>05/22/2012 14:11:31</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_888888_256x240.png">
      <publishTime>05/22/2012 14:11:31</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_cd0a0a_256x240.png">
      <publishTime>05/22/2012 14:11:31</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.accordion.css">
      <publishTime>05/22/2012 14:11:31</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.all.css">
      <publishTime>05/22/2012 14:11:31</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.autocomplete.css">
      <publishTime>05/22/2012 14:11:31</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.base.css">
      <publishTime>05/22/2012 14:11:31</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.button.css">
      <publishTime>05/22/2012 14:11:31</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.core.css">
      <publishTime>05/22/2012 14:11:31</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.datepicker.css">
      <publishTime>05/22/2012 14:11:31</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.dialog.css">
      <publishTime>05/22/2012 14:11:31</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.progressbar.css">
      <publishTime>05/22/2012 14:11:31</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.resizable.css">
      <publishTime>05/22/2012 14:11:31</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.selectable.css">
      <publishTime>05/22/2012 14:11:31</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.slider.css">
      <publishTime>05/22/2012 14:11:31</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.tabs.css">
      <publishTime>05/22/2012 14:11:31</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.theme.css">
      <publishTime>05/22/2012 14:11:31</publishTime>
    </File>
    <File Include="Content/toastr-responsive.css">
      <publishTime>05/25/2012 14:18:32</publishTime>
    </File>
    <File Include="Content/toastr.css">
      <publishTime>05/25/2012 14:18:32</publishTime>
    </File>
    <File Include="Global.asax">
      <publishTime>05/25/2012 14:18:32</publishTime>
    </File>
    <File Include="Images/41.png">
      <publishTime>05/25/2012 14:18:32</publishTime>
    </File>
    <File Include="Images/accent.png">
      <publishTime>05/25/2012 14:18:32</publishTime>
    </File>
    <File Include="Images/add_to_cart.png">
      <publishTime>05/25/2012 14:18:32</publishTime>
    </File>
    <File Include="Images/aspNetHome.png">
      <publishTime>05/25/2012 14:18:32</publishTime>
    </File>
    <File Include="Images/babblesbest.png">
      <publishTime>05/31/2012 10:51:21</publishTime>
    </File>
    <File Include="Images/bambinomio.png">
      <publishTime>05/25/2012 14:18:32</publishTime>
    </File>
    <File Include="Images/bl-headshot.jpg">
      <publishTime>05/25/2012 14:18:32</publishTime>
    </File>
    <File Include="Images/bmdistributor.png">
      <publishTime>05/31/2012 12:13:03</publishTime>
    </File>
    <File Include="Images/bullet.png">
      <publishTime>05/25/2012 14:18:32</publishTime>
    </File>
    <File Include="Images/Cribsie-Award.jpg">
      <publishTime>05/25/2012 14:18:32</publishTime>
    </File>
    <File Include="Images/Cribsie-Award.png">
      <publishTime>05/30/2012 18:19:11</publishTime>
    </File>
    <File Include="Images/cy-carriersquare.jpg">
      <publishTime>05/25/2012 14:18:32</publishTime>
    </File>
    <File Include="Images/CYBEX-2009-Colors.jpg">
      <publishTime>05/25/2012 14:18:32</publishTime>
    </File>
    <File Include="Images/cybex.png">
      <publishTime>05/25/2012 14:18:32</publishTime>
    </File>
    <File Include="Images/dekor.png">
      <publishTime>05/25/2012 14:18:32</publishTime>
    </File>
    <File Include="Images/delete_cart.png">
      <publishTime>05/25/2012 14:18:32</publishTime>
    </File>
    <File Include="Images/delete_order.png">
      <publishTime>05/25/2012 14:18:32</publishTime>
    </File>
    <File Include="Images/dm-headshot.jpg">
      <publishTime>05/25/2012 14:18:32</publishTime>
    </File>
    <File Include="Images/drop.gif">
      <publishTime>05/25/2012 14:18:32</publishTime>
    </File>
    <File Include="Images/drop.png">
      <publishTime>05/31/2012 17:10:21</publishTime>
    </File>
    <File Include="Images/edit_order.png">
      <publishTime>05/25/2012 14:18:32</publishTime>
    </File>
    <File Include="Images/facebook.png">
      <publishTime>05/25/2012 14:18:32</publishTime>
    </File>
    <File Include="Images/findHosting.png">
      <publishTime>05/25/2012 14:18:32</publishTime>
    </File>
    <File Include="Images/flickr.png">
      <publishTime>05/25/2012 14:18:32</publishTime>
    </File>
    <File Include="Images/GEMStrollers.jpg">
      <publishTime>05/25/2012 14:18:32</publishTime>
    </File>
    <File Include="Images/header-bg.jpg">
      <publishTime>05/25/2012 14:18:32</publishTime>
    </File>
    <File Include="Images/heroAccent.png">
      <publishTime>05/25/2012 14:18:32</publishTime>
    </File>
    <File Include="Images/icon-print.gif">
      <publishTime>05/25/2012 14:18:32</publishTime>
    </File>
    <File Include="Images/IIHS-Best-Bet.jpg">
      <publishTime>05/25/2012 14:18:32</publishTime>
    </File>
    <File Include="Images/IIHS-Best-Bet.png">
      <publishTime>05/30/2012 18:19:26</publishTime>
    </File>
    <File Include="Images/iParenting.jpg">
      <publishTime>05/25/2012 14:18:32</publishTime>
    </File>
    <File Include="Images/iparenting.png">
      <publishTime>05/30/2012 18:19:59</publishTime>
    </File>
    <File Include="Images/jd-headshot.jpg">
      <publishTime>05/25/2012 14:18:32</publishTime>
    </File>
    <File Include="Images/JPMA.jpg">
      <publishTime>05/25/2012 14:18:32</publishTime>
    </File>
    <File Include="Images/jpma.png">
      <publishTime>05/30/2012 18:19:47</publishTime>
    </File>
    <File Include="Images/JPMAicon.jpg">
      <publishTime>05/25/2012 14:18:32</publishTime>
    </File>
    <File Include="Images/la-bbblue.jpg">
      <publishTime>05/25/2012 14:18:32</publishTime>
    </File>
    <File Include="Images/la-recallimage.jpg">
      <publishTime>05/25/2012 14:18:32</publishTime>
    </File>
    <File Include="Images/lascal.png">
      <publishTime>05/25/2012 14:18:32</publishTime>
    </File>
    <File Include="Images/left.png">
      <publishTime>05/25/2012 14:18:32</publishTime>
    </File>
    <File Include="Images/lilsugarReaderChoice.png">
      <publishTime>05/30/2012 18:20:07</publishTime>
    </File>
    <File Include="Images/lwl-headshot.jpg">
      <publishTime>05/25/2012 14:18:32</publishTime>
    </File>
    <File Include="Images/miosolo-in-Coral.jpg">
      <publishTime>05/25/2012 14:18:32</publishTime>
    </File>
    <File Include="Images/missionstatement.jpg">
      <publishTime>05/25/2012 14:18:32</publishTime>
    </File>
    <File Include="Images/mycarrypotty.png">
      <publishTime>05/25/2012 14:18:32</publishTime>
    </File>
    <File Include="Images/new_cart.png">
      <publishTime>05/25/2012 14:18:32</publishTime>
    </File>
    <File Include="Images/NuGetGallery.png">
      <publishTime>05/25/2012 14:18:32</publishTime>
    </File>
    <File Include="Images/orderedListOne.png">
      <publishTime>05/25/2012 14:18:32</publishTime>
    </File>
    <File Include="Images/orderedListThree.png">
      <publishTime>05/25/2012 14:18:32</publishTime>
    </File>
    <File Include="Images/orderedListTwo.png">
      <publishTime>05/25/2012 14:18:32</publishTime>
    </File>
    <File Include="Images/pdfsm.gif">
      <publishTime>05/25/2012 14:18:32</publishTime>
    </File>
    <File Include="Images/PTPA-Seal-of-Approval.png">
      <publishTime>05/30/2012 17:03:04</publishTime>
    </File>
    <File Include="Images/regallager.png">
      <publishTime>05/25/2012 14:18:32</publishTime>
    </File>
    <File Include="Images/right.gif">
      <publishTime>05/25/2012 14:18:32</publishTime>
    </File>
    <File Include="Images/rl-aboutus.jpg">
      <publishTime>05/25/2012 14:18:32</publishTime>
    </File>
    <File Include="Images/rl-aboutus.png">
      <publishTime>05/25/2012 14:18:32</publishTime>
    </File>
    <File Include="Images/rl-contact.jpg">
      <publishTime>05/25/2012 14:18:32</publishTime>
    </File>
    <File Include="Images/rl-contact.png">
      <publishTime>05/25/2012 14:18:32</publishTime>
    </File>
    <File Include="Images/rl-customercare.png">
      <publishTime>05/25/2012 14:18:32</publishTime>
    </File>
    <File Include="Images/rl-mission.jpg">
      <publishTime>05/25/2012 14:18:32</publishTime>
    </File>
    <File Include="Images/rl-mission.png">
      <publishTime>05/25/2012 14:18:32</publishTime>
    </File>
    <File Include="Images/rl-returns.jpg">
      <publishTime>05/25/2012 14:18:32</publishTime>
    </File>
    <File Include="Images/rl-safetytesting.png">
      <publishTime>06/04/2012 11:32:02</publishTime>
    </File>
    <File Include="Images/rl-warehouse.jpg">
      <publishTime>05/25/2012 14:18:32</publishTime>
    </File>
    <File Include="Images/rl-warranty.jpg">
      <publishTime>05/25/2012 14:18:32</publishTime>
    </File>
    <File Include="Images/rl-warranty.png">
      <publishTime>05/25/2012 14:18:32</publishTime>
    </File>
    <File Include="Images/save.png">
      <publishTime>05/25/2012 14:18:32</publishTime>
    </File>
    <File Include="Images/shopping_cart.png">
      <publishTime>05/25/2012 14:18:32</publishTime>
    </File>
    <File Include="Images/shopping_cart2.png">
      <publishTime>05/25/2012 14:18:32</publishTime>
    </File>
    <File Include="Images/slider-00.jpg">
      <publishTime>05/25/2012 14:18:32</publishTime>
    </File>
    <File Include="Images/solutionxfix.jpg">
      <publishTime>05/25/2012 14:32:18</publishTime>
    </File>
    <File Include="Images/sprite_foot.png">
      <publishTime>05/25/2012 14:18:32</publishTime>
    </File>
    <File Include="Images/submit_order.png">
      <publishTime>05/25/2012 14:18:32</publishTime>
    </File>
    <File Include="Images/truck.gif">
      <publishTime>05/25/2012 14:18:32</publishTime>
    </File>
    <File Include="Images/twitter.png">
      <publishTime>05/25/2012 14:18:32</publishTime>
    </File>
    <File Include="Images/view_orders.png">
      <publishTime>05/25/2012 14:18:32</publishTime>
    </File>
    <File Include="Images/windowsLive.png">
      <publishTime>05/25/2012 14:18:32</publishTime>
    </File>
    <File Include="Internal/Admin/CreateUser.aspx">
      <publishTime>05/25/2012 14:18:32</publishTime>
    </File>
    <File Include="Internal/Admin/ManageUsers.aspx">
      <publishTime>05/25/2012 14:18:32</publishTime>
    </File>
    <File Include="Internal/Admin/orderdetails.aspx">
      <publishTime>05/25/2012 14:18:32</publishTime>
    </File>
    <File Include="Internal/Admin/printorder.aspx">
      <publishTime>05/25/2012 14:18:32</publishTime>
    </File>
    <File Include="Internal/Admin/trackorders.aspx">
      <publishTime>05/25/2012 14:18:32</publishTime>
    </File>
    <File Include="Internal/Admin/vieworders.aspx">
      <publishTime>05/25/2012 14:18:32</publishTime>
    </File>
    <File Include="Internal/Admin/viewstock.aspx">
      <publishTime>05/25/2012 14:18:32</publishTime>
    </File>
    <File Include="Internal/Admin/web.config">
      <publishTime>05/25/2012 14:18:32</publishTime>
    </File>
    <File Include="Internal/Autocomplete.asmx">
      <publishTime>05/25/2012 14:18:32</publishTime>
    </File>
    <File Include="Internal/Content/960_12_col.css">
      <publishTime>05/25/2012 14:18:32</publishTime>
    </File>
    <File Include="Internal/Content/core.css">
      <publishTime>05/25/2012 14:18:32</publishTime>
    </File>
    <File Include="Internal/Content/ie.css">
      <publishTime>05/25/2012 14:18:32</publishTime>
    </File>
    <File Include="Internal/Content/screen.css">
      <publishTime>05/25/2012 14:18:32</publishTime>
    </File>
    <File Include="Internal/Content/site.css">
      <publishTime>05/25/2012 14:18:32</publishTime>
    </File>
    <File Include="Internal/default.aspx">
      <publishTime>05/25/2012 14:18:33</publishTime>
    </File>
    <File Include="Internal/internal.Master">
      <publishTime>05/25/2012 14:18:33</publishTime>
    </File>
    <File Include="Internal/Retailer/confirmorder.aspx">
      <publishTime>05/25/2012 14:18:33</publishTime>
    </File>
    <File Include="Internal/Retailer/createorder.aspx">
      <publishTime>05/25/2012 14:18:33</publishTime>
    </File>
    <File Include="Internal/Retailer/default.aspx">
      <publishTime>05/25/2012 14:18:33</publishTime>
    </File>
    <File Include="Internal/Retailer/orderdetails.aspx">
      <publishTime>05/25/2012 14:18:33</publishTime>
    </File>
    <File Include="Internal/Retailer/orderinfo.aspx">
      <publishTime>05/25/2012 14:18:33</publishTime>
    </File>
    <File Include="Internal/Retailer/printorder.aspx">
      <publishTime>05/25/2012 14:18:33</publishTime>
    </File>
    <File Include="Internal/Retailer/regallagervideos.htm">
      <publishTime>05/25/2012 14:18:33</publishTime>
    </File>
    <File Include="Internal/Retailer/trackorders.aspx">
      <publishTime>05/25/2012 14:18:33</publishTime>
    </File>
    <File Include="Internal/Retailer/vieworders.aspx">
      <publishTime>05/25/2012 14:18:33</publishTime>
    </File>
    <File Include="Internal/Retailer/viewstock.aspx">
      <publishTime>05/25/2012 14:18:33</publishTime>
    </File>
    <File Include="Internal/Retailer/web.config">
      <publishTime>05/25/2012 14:18:33</publishTime>
    </File>
    <File Include="Internal/retailerinquiry.aspx">
      <publishTime>05/25/2012 14:18:33</publishTime>
    </File>
    <File Include="Internal/Sales/confirmorder.aspx">
      <publishTime>05/25/2012 14:18:33</publishTime>
    </File>
    <File Include="Internal/Sales/createorder.aspx">
      <publishTime>05/25/2012 14:18:33</publishTime>
    </File>
    <File Include="Internal/Sales/default.aspx">
      <publishTime>05/25/2012 14:18:33</publishTime>
    </File>
    <File Include="Internal/Sales/orderdetails.aspx">
      <publishTime>05/25/2012 14:18:33</publishTime>
    </File>
    <File Include="Internal/Sales/orderinfo.aspx">
      <publishTime>05/25/2012 14:18:33</publishTime>
    </File>
    <File Include="Internal/Sales/printorder.aspx">
      <publishTime>05/25/2012 14:18:33</publishTime>
    </File>
    <File Include="Internal/Sales/selectretailer.aspx">
      <publishTime>05/25/2012 14:18:33</publishTime>
    </File>
    <File Include="Internal/Sales/trackorders.aspx">
      <publishTime>05/25/2012 14:18:33</publishTime>
    </File>
    <File Include="Internal/Sales/vieworders.aspx">
      <publishTime>05/25/2012 14:18:33</publishTime>
    </File>
    <File Include="Internal/Sales/viewstock.aspx">
      <publishTime>05/25/2012 14:18:33</publishTime>
    </File>
    <File Include="Internal/Sales/web.config">
      <publishTime>05/25/2012 14:18:33</publishTime>
    </File>
    <File Include="Internal/security/ChangePassword.aspx">
      <publishTime>05/25/2012 14:18:33</publishTime>
    </File>
    <File Include="Internal/security/ForgotPassword.aspx">
      <publishTime>05/25/2012 14:18:33</publishTime>
    </File>
    <File Include="Internal/security/Login.aspx">
      <publishTime>05/25/2012 14:18:33</publishTime>
    </File>
    <File Include="Internal/web.config">
      <publishTime>05/25/2012 14:18:33</publishTime>
    </File>
    <File Include="packages.config">
      <publishTime>05/25/2012 14:18:34</publishTime>
    </File>
    <File Include="README.jQuery.vsdoc.txt">
      <publishTime>05/22/2012 14:11:32</publishTime>
    </File>
    <File Include="Scripts/jquery-1.7.1.min.js">
      <publishTime>05/25/2012 17:19:01</publishTime>
    </File>
    <File Include="Scripts/jquery-1.7.2.intellisense.js">
      <publishTime>05/25/2012 14:18:33</publishTime>
    </File>
    <File Include="Scripts/jquery-1.7.2.js">
      <publishTime>05/25/2012 14:18:33</publishTime>
    </File>
    <File Include="Scripts/jquery-1.7.2.min.js">
      <publishTime>05/25/2012 14:18:34</publishTime>
    </File>
    <File Include="Scripts/jquery-ui-1.8.11.js">
      <publishTime>05/25/2012 14:18:34</publishTime>
    </File>
    <File Include="Scripts/jquery-ui-1.8.11.min.js">
      <publishTime>05/25/2012 14:18:34</publishTime>
    </File>
    <File Include="Scripts/jquery.nivo.slider.js">
      <publishTime>05/30/2012 15:00:53</publishTime>
    </File>
    <File Include="Scripts/jquery.nivo.slider.pack.js">
      <publishTime>05/30/2012 15:00:53</publishTime>
    </File>
    <File Include="Scripts/jquery.unobtrusive-ajax.js">
      <publishTime>05/25/2012 14:18:34</publishTime>
    </File>
    <File Include="Scripts/jquery.unobtrusive-ajax.min.js">
      <publishTime>05/25/2012 14:18:34</publishTime>
    </File>
    <File Include="Scripts/jquery.validate-vsdoc.js">
      <publishTime>05/25/2012 14:18:34</publishTime>
    </File>
    <File Include="Scripts/jquery.validate.js">
      <publishTime>05/25/2012 14:18:34</publishTime>
    </File>
    <File Include="Scripts/jquery.validate.min.js">
      <publishTime>05/25/2012 14:18:34</publishTime>
    </File>
    <File Include="Scripts/jquery.validate.unobtrusive.js">
      <publishTime>05/25/2012 14:18:34</publishTime>
    </File>
    <File Include="Scripts/jquery.validate.unobtrusive.min.js">
      <publishTime>05/25/2012 14:18:34</publishTime>
    </File>
    <File Include="Scripts/knockout-2.0.0.debug.js">
      <publishTime>05/25/2012 14:18:34</publishTime>
    </File>
    <File Include="Scripts/knockout-2.0.0.js">
      <publishTime>05/25/2012 14:18:34</publishTime>
    </File>
    <File Include="Scripts/modernizr-2.5.3.js">
      <publishTime>05/25/2012 14:18:34</publishTime>
    </File>
    <File Include="Scripts/_references.js">
      <publishTime>05/25/2012 14:18:33</publishTime>
    </File>
    <File Include="Views/About/Contact.cshtml">
      <publishTime>06/05/2012 16:19:15</publishTime>
    </File>
    <File Include="Views/About/Index.cshtml">
      <publishTime>06/04/2012 16:06:20</publishTime>
    </File>
    <File Include="Views/About/Mission.cshtml">
      <publishTime>06/04/2012 16:07:26</publishTime>
    </File>
    <File Include="Views/About/OurTeam.cshtml">
      <publishTime>06/05/2012 12:25:31</publishTime>
    </File>
    <File Include="Views/Home/CPS.cshtml">
      <publishTime>05/25/2012 14:18:34</publishTime>
    </File>
    <File Include="Views/Home/Email.cshtml">
      <publishTime>06/01/2012 15:06:04</publishTime>
    </File>
    <File Include="Views/Home/EmailSuccess.cshtml">
      <publishTime>06/01/2012 14:23:10</publishTime>
    </File>
    <File Include="Views/Home/Index.cshtml">
      <publishTime>06/04/2012 10:43:14</publishTime>
    </File>
    <File Include="Views/Home/News.cshtml">
      <publishTime>05/25/2012 14:18:34</publishTime>
    </File>
    <File Include="Views/Home/Privacy.cshtml">
      <publishTime>05/25/2012 14:18:34</publishTime>
    </File>
    <File Include="Views/Home/Search.cshtml">
      <publishTime>05/25/2012 14:18:34</publishTime>
    </File>
    <File Include="Views/Home/Terms.cshtml">
      <publishTime>05/25/2012 14:18:34</publishTime>
    </File>
    <File Include="Views/Home/Test.cshtml">
      <publishTime>05/25/2012 14:18:34</publishTime>
    </File>
    <File Include="Views/Home/Test2.cshtml">
      <publishTime>05/25/2012 14:18:34</publishTime>
    </File>
    <File Include="Views/Press/Awards.cshtml">
      <publishTime>06/04/2012 17:13:33</publishTime>
    </File>
    <File Include="Views/Press/Downloads.cshtml">
      <publishTime>05/25/2012 14:18:34</publishTime>
    </File>
    <File Include="Views/Press/Index.cshtml">
      <publishTime>05/25/2012 14:18:34</publishTime>
    </File>
    <File Include="Views/Press/Media.cshtml">
      <publishTime>05/30/2012 16:25:05</publishTime>
    </File>
    <File Include="Views/Press/PressReleases.cshtml">
      <publishTime>05/25/2012 14:18:34</publishTime>
    </File>
    <File Include="Views/Recalls/Board.cshtml">
      <publishTime>06/04/2012 15:48:28</publishTime>
    </File>
    <File Include="Views/Recalls/Index.cshtml">
      <publishTime>06/05/2012 16:53:23</publishTime>
    </File>
    <File Include="Views/Recalls/Stroller.cshtml">
      <publishTime>06/04/2012 15:49:35</publishTime>
    </File>
    <File Include="Views/Recalls/TwoGo.cshtml">
      <publishTime>06/04/2012 15:49:43</publishTime>
    </File>
    <File Include="Views/Recalls/XFix.cshtml">
      <publishTime>06/04/2012 15:48:50</publishTime>
    </File>
    <File Include="Views/Register/BambinoMio.cshtml">
      <publishTime>05/22/2012 14:11:33</publishTime>
    </File>
    <File Include="Views/Register/Cybex.cshtml">
      <publishTime>05/30/2012 12:39:48</publishTime>
    </File>
    <File Include="Views/Register/CybexCar.cshtml">
      <publishTime>05/30/2012 12:38:51</publishTime>
    </File>
    <File Include="Views/Register/Dekor.cshtml">
      <publishTime>05/22/2012 14:11:33</publishTime>
    </File>
    <File Include="Views/Register/Index.cshtml">
      <publishTime>06/05/2012 16:53:33</publishTime>
    </File>
    <File Include="Views/Register/Lascal.cshtml">
      <publishTime>05/30/2012 12:40:00</publishTime>
    </File>
    <File Include="Views/Register/MyCarryPotty.cshtml">
      <publishTime>05/22/2012 14:11:33</publishTime>
    </File>
    <File Include="Views/Shared/Error.cshtml">
      <publishTime>05/25/2012 14:18:34</publishTime>
    </File>
    <File Include="Views/Shared/_GoogleTrack.cshtml">
      <publishTime>05/29/2012 17:35:50</publishTime>
    </File>
    <File Include="Views/Shared/_Layout.cshtml">
      <publishTime>06/04/2012 17:33:37</publishTime>
    </File>
    <File Include="Views/Shared/_LayoutReg.cshtml">
      <publishTime>06/04/2012 10:50:03</publishTime>
    </File>
    <File Include="Views/Shared/_RegCybexForm.cshtml">
      <publishTime>05/30/2012 12:30:00</publishTime>
    </File>
    <File Include="Views/Shared/_RegGeneralForm.cshtml">
      <publishTime>05/30/2012 11:54:07</publishTime>
    </File>
    <File Include="Views/Shared/_RegHeader.cshtml">
      <publishTime>06/04/2012 17:15:54</publishTime>
    </File>
    <File Include="Views/Shared/_RegLascalForm.cshtml">
      <publishTime>05/30/2012 12:41:11</publishTime>
    </File>
    <File Include="Views/Support/Downloads.cshtml">
      <publishTime>05/25/2012 14:18:34</publishTime>
    </File>
    <File Include="Views/Support/Faqs.cshtml">
      <publishTime>06/04/2012 15:55:37</publishTime>
    </File>
    <File Include="Views/Support/Forum.cshtml">
      <publishTime>05/25/2012 14:18:34</publishTime>
    </File>
    <File Include="Views/Support/Index.cshtml">
      <publishTime>06/05/2012 16:47:11</publishTime>
    </File>
    <File Include="Views/Support/Instructions.cshtml">
      <publishTime>05/25/2012 14:18:34</publishTime>
    </File>
    <File Include="Views/Support/Recalls.cshtml">
      <publishTime>05/22/2012 14:11:33</publishTime>
    </File>
    <File Include="Views/Support/Register.cshtml">
      <publishTime>05/22/2012 14:11:33</publishTime>
    </File>
    <File Include="Views/Support/Request.cshtml">
      <publishTime>06/05/2012 17:07:28</publishTime>
    </File>
    <File Include="Views/Support/Testing.cshtml">
      <publishTime>06/04/2012 15:30:55</publishTime>
    </File>
    <File Include="Views/Support/Videos.cshtml">
      <publishTime>05/25/2012 14:18:34</publishTime>
    </File>
    <File Include="Views/Support/Warranty.cshtml">
      <publishTime>06/04/2012 16:03:37</publishTime>
    </File>
    <File Include="Views/Web.config">
      <publishTime>05/25/2012 17:33:40</publishTime>
    </File>
    <File Include="Views/_ViewStart.cshtml">
      <publishTime>05/25/2012 14:18:34</publishTime>
    </File>
    <File Include="Web.config">
      <publishTime>05/29/2012 17:22:05</publishTime>
    </File>
  </ItemGroup>
</Project>