@{
    ViewBag.Subtitle = "Our Mission"; 
}
<hgroup class="title">
    <h1>@ViewBag.Subtitle</h1>
</hgroup>
<article>
    <p>
        Our Mission Statement was crafted at our founding in 1991, and subsequently beautifully
        hand lettered by our very own Elisabeth Berg&ouml;&ouml;, our resident Calligrapher.
        It exemplifies who we are as a company, and hangs in the office today, a reminder
        to all of our goal.
    </p>
    <div style="text-align: center; margin: 20px 50px 0px 0px;">

        <h3 style="font-size: 2em;" class="yellow">MISSION STATEMENT
        </h3>
        <p>
            To build a strong long lasting relationship,<br />
            based on integrity and mutual respect, with our<br />
            customers, suppliers, colleagues, sales representatives<br />
            and employees.<br />
            To be a valued supplier to select juvenile<br />
            retailers, to provide high quality products,<br />
            superior service and strong<br />
            support.<br />
            <p>Regal Lager, Inc.<br />
            <span class="smaller">Established 1991</span></p>
    </div>
</article>
<aside>
    <img src="../Images/rl-mission.png" alt="Regal Lager Mission Statement" class="drop-shadow" />
</aside>
