@{
    ViewBag.Subtitle = "Our Team";
    ViewBag.Message = "Take a Moment to Meet Regal+Lager!";
}
<hgroup class="title">
    <h1>@ViewBag.SubTitle</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>
<article id="who">
    <section>
        <div class="leaders">
            <div class="imgcontainerleader lifted">
                <img src="../Images/bl-headshot.jpg" class="leaders" />
            </div>
            <h2>Bengt Lager<span class="worktitle">President</span></h2>
            <p>
                Bengt is the visionary entrepreneur that drives Regal&plus;Lager forward. His twenty
                years of experience in the juvenile industry, including service on the Juvenile
                Products Manufacturer’s Association Board, and two years as chairman, gives him
                particular insight into the industry. For the last six years, Bengt has served on
                the All Baby and Children Board who is responsible for the annual Juvenile Industry
                trade show. Bengt and his wife Luanne started Regal&plus;Lager in their home over
                twenty years ago. Regal&plus;Lager has grown become a leader in the juvenile products
                industry, and has earned a reputation as one of the finest distributors in North
                America.
            </p>
            <blockquote class="secret">
                Known for: <span style="color: #FFF;">Rolling up his sleeves</span>
            </blockquote>
            <blockquote class="secret">
                Not so known for: <span style="color: #FFF;">Being an Olympic athlete and coach</span>
            </blockquote>
        </div>
        <div class="leaders">
            <div class="imgcontainerleader lifted">
                <img src="../Images/lwl-headshot.jpg" class="leaders" />
            </div>
            <h2>Luanne Whiting-Lager
            <span class="worktitle">Executive Vice President</span></h2>
            <p>
                Luanne Whiting–Lager has twenty years of experience in the juvenile industry, including
                currently serving as Treasurer for the Juvenile Products Manufacturers Association
                (JPMA). Luanne serves Regal&plus;Lager as the CFO, head of HR, and as an integral
                part of the PR and Marketing Team. Her keen insights into the industry truly lie
                at the heart of Regal&plus;Lager and the many relationships that have been cultivated
                over the years.
            </p>
            <blockquote class="secret">
                Known for: <span style="color: #FFF;">Feeding a crowd</span>
            </blockquote>
            <blockquote class="secret">
                Not so known for: <span style="color: #FFF;">Daily fitness boot camp</span>
            </blockquote>
        </div>
    </section>
    <hr />
    <section>
        <div class="team">
            <div class="imgcontainerteam lifted">
                <img src="../Images/rl-warehouse.jpg" class="team" />
            </div>
            <h2>Rick DuVall
            <span class="worktitle">Director of Operations</span></h2>
            <p>
                Rick has been with Regal&plus;Lager for eleven years and manages all matters relating
                to day-to-day operations from logistics, to inventory management to overseeing the
                ins and outs of Customer Care.
            </p>
            <blockquote class="secret">
                Known for: <span style="color: #FFF;">His sense of humor</span>
            </blockquote>
            <blockquote class="secret">
                Not so known for: <span style="color: #FFF;">His singing ability</span>
            </blockquote>
        </div>
        <div class="team">
            <div class="imgcontainerteam lifted">
                <img src="../Images/jd-headshot.jpg" class="team" />
            </div>
            <h2>Jeff Durkee
            <span class="worktitle">Director of Sales</span></h2>
            <p>
                Jeff Durkee has over twenty-four years of experience in the juvenile industry at
                several different levels of sales. He oversees the internal and external sales teams
                throughout the United States and Canada.
            </p>
            <blockquote class="secret">
                Known for: <span style="color: #FFF;">Knowing everybody in the industry</span>
            </blockquote>
            <blockquote class="secret">
                Not so known for: <span style="color: #FFF;">Being a Sushi chef</span>
            </blockquote>
        </div>
        <div class="team">
            <div class="imgcontainerteam lifted">
                <img src="../Images/dm-headshot.jpg" class="team" />
            </div>
            <h2>Dave Milligan
            <span class="worktitle">Sales Development Manager</span></h2>
            <p>
                Dave Milligan has twenty–two years of experience in the industry, including fifteen
                years of retail store management. He works closely with the sales reps and retailers
                to insure complete understanding of our brands.
            </p>
            <blockquote class="secret">
                Known for: <span style="color: #FFF;">His infectious optimism</span>
            </blockquote>
            <blockquote class="secret">
                Not so known for: <span style="color: #FFF;">Designing a chest-clip</span>
            </blockquote>
        </div>
    </section>
    <hr />
    <section>
        <div class="team">
            <div class="imgcontainerteam lifted">
                <img src="../Images/rl-warehouse.jpg" class="team" />
            </div>
            <h2>William Jarvela
            <span class="worktitle">IT Manager</span></h2>
            <p>
                Bill's unique background brings a fresh approach to all things technical. From hardware
                and networking to solving specific problems with custom code, his abilities keep
                us on the forefront of information technology.
            </p>
            <blockquote class="secret">
                Known for: <span style="color: #FFF;">Making it work</span>
            </blockquote>
            <blockquote class="secret">
                Not so known for: <span style="color: #FFF;">Being a Biology teacher</span>
            </blockquote>
        </div>
        <div class="team">
            <div class="imgcontainerteam lifted">
                <img src="../Images/rl-warehouse.jpg" class="team" />
            </div>
            <h2>Elisabeth Berg&ouml;&ouml;
            <span class="worktitle">PR and Marketing Coordinator</span></h2>
            <p>
                Elisabeth Berg&ouml;&ouml; has been with Regal&plus;Lager for fourteen years and
                is truly a unique gem in the industry. Elisabeth has very close working relationships
                with all the major industry editors of both print and online magazines, bloggers,
                and product reviewers alike, insuring a constant flow of positive PR.
            </p>
            <blockquote class="secret">
                Known for: <span style="color: #FFF;">Getting her way, with a smile</span>
            </blockquote>
            <blockquote class="secret">
                Not so known for: <span style="color: #FFF;">Her love of cooking</span>
            </blockquote>
        </div>
        <div class="team">
            <div class="imgcontainerteam lifted">
                <img src="../Images/rl-warehouse.jpg" class="team" />
            </div>
            <h2>Allen Bourne
            <span class="worktitle">Creative Services Manager</span></h2>
            <p>
                He is basically, the man when it comes to anything.
            </p>
            <blockquote class="secret">
                Known for: <span style="color: #FFF;">Good, clean design</span>
            </blockquote>
            <blockquote class="secret">
                Not so known for: <span style="color: #FFF;">Being a NASCAR fan</span>
            </blockquote>
        </div>
    </section>
    <hr />
    <section>
        <div class="team">
            <div class="imgcontainerteam lifted">
                <img src="../Images/rl-warehouse.jpg" class="team" />
            </div>
            <h2>Tisa Schurrman
            <span class="worktitle">Accounts Receivable Manager</span></h2>
            <p>
                Tisa brings many years of financial expertise to Regal&plus;Lager. Working alongside
                the CFO, she makes sure everyone is paid, including us.
            </p>
            <blockquote class="secret">
                Known for: <span style="color: #FFF;">Making sure we are paid</span>
            </blockquote>
            <blockquote class="secret">
                Not so known for: <span style="color: #FFF;">Being a professional flutist</span>
            </blockquote>
        </div>
        <div class="team">
            <div class="imgcontainerteam lifted">
                <img src="../Images/rl-warehouse.jpg" class="team" />
            </div>
            <h2>Brenda Lewis
            <span class="worktitle">Customer Care Supervisor</span></h2>
            <p>
                Brenda's many years in customer service anchors the Customer Care Department at
                Regal&plus;Lager. Her attention to the needs of each individual forms the foundation
                of the level of service we are known for.
            </p>
            <blockquote class="secret">
                Known for: <span style="color: #FFF;">Working late</span>
            </blockquote>
            <blockquote class="secret">
                Not so known for: <span style="color: #FFF;">Planning for big events</span>
            </blockquote>
        </div>
        <div class="team">
            <div class="imgcontainerteam lifted">
                <img src="../Images/rl-warehouse.jpg" class="team" />
            </div>
            <h2>Francis Marion
            <span class="worktitle">Warehouse Manager</span></h2>
            <p>
                Francis brings his many year of warehouse management to Regal&plus;Lager insuring
                a expedited level of logistics.
            </p>
            <blockquote class="secret">
                Known for: <span style="color: #FFF;">Scaring folks with the forklift</span>
            </blockquote>
            <blockquote class="secret">
                Not so known for: <span style="color: #FFF;">His green thumb</span>
            </blockquote>
        </div>
    </section>
    <hr />
    <section>
        <div class="team">
            <div class="imgcontainerteam lifted">
                <img src="../Images/rl-warehouse.jpg" class="team" />
            </div>
            <h2>Christian Baires
            <span class="worktitle">Sales Assitant/Customer Care</span></h2>
            <p>
                Christian wears many hats as he supports both the Sales and Customer Care Departments.
                Christian is fluent in Spanish and assists our Spanish speaking customers.
            </p>
            <blockquote class="secret">
                Known for: <span style="color: #FFF;">Working hard</span>
            </blockquote>
            <blockquote class="secret">
                Not so known for: <span style="color: #FFF;">Playing semi-pro soccer </span>
            </blockquote>
        </div>
        <div class="team">
            <div class="imgcontainerteam lifted">
                <img src="../Images/rl-warehouse.jpg" class="team" />
            </div>
            <h2>Monica Eklund
            <span class="worktitle">Returns Manager</span></h2>
            <p>
                Monica's attention to detail and breadth of product knowledge makes her the perfect
                person to manage the Regal Lager returns. When she isn't facilitating returns, Monica
                assists the Customer Care Department.
            </p>
            <blockquote class="secret">
                Known for: <span style="color: #FFF;">Attention to detail</span>
            </blockquote>
            <blockquote class="secret">
                Not so known for: <span style="color: #FFF;">Being a bookworm</span>
            </blockquote>
        </div>
        <div class="team">
            <div class="imgcontainerteam lifted">
                <img src="../Images/rl-warehouse.jpg" class="team" />
            </div>
            <h2>Dilia Serna
            <span class="worktitle">Warehouse</span></h2>
            <p>
            </p>
            <blockquote class="secret">
                Known for: <span style="color: #FFF;"></span>
            </blockquote>
            <blockquote class="secret">
                Not so known for: <span style="color: #FFF;"></span>
            </blockquote>
        </div>
    </section>
    <hr />
    <section>
        <div class="team">
            <div class="imgcontainerteam lifted">
                <img src="../Images/rl-warehouse.jpg" class="team" />
            </div>
            <h2>Luis Serna
            <span class="worktitle">Warehouse</span></h2>
            <p>
            </p>
            <blockquote class="secret">
                Known for: <span style="color: #FFF;">His smile</span>
            </blockquote>
            <blockquote class="secret">
                Not so known for: <span style="color: #FFF;">Being a bellhop in New York</span>
            </blockquote>
        </div>
    </section>
</article>
