<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="default.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <system.web>
    <authorization>
      <allow roles="admin" />
      <allow roles="sales" />
      <allow roles="salesrep" />
      <deny users="*"/>
    </authorization>
  </system.web>
</configuration>